- form_tag new_cms_page_connector_path(@page), :method => :get do
  = hidden_field_tag :container, @container
  %label
    Block Type
    = select_tag "block_type", options_for_select(RegisteredBlock.all(:order => "name").map{|b| [b.name.titleize, b.name]}, @block_type), :onchange => 'this.form.submit()'
    
= error_messages_for :connector    
    
%table#blocks
  %tr
    %th Name
    %th Updated
    %th Uses
    %th View
    %th Select
  - @blocks.each do |block|
    %tr
      %td= block.name
      %td= block.updated_at.strftime("%m/%d/%y")
      %td.uses= Connector.for_block(block).count
      %td.view= link_to icon(:view), send("cms_#{@block_type.underscore}_path", block)
      %td.select= link_to icon(:connect), cms_page_connectors_path(@page, :connector => {:container => @container, :content_block_type => block.class.to_s, :content_block_id => block.id}), :method => :post