<% form_tag cms_path(:connectors, :new), :method => :get do %>
  <%= hidden_field_tag :page_id, @page.to_param %>
  <%= hidden_field_tag :container, @container %>
  <label>
    Block Type
    <%= select_tag "block_type", options_for_select(ContentType.all(:order => "name").map{|ct| [ct.display_name, ct.content_block_type]}, @block_type.content_block_type), :onchange => 'this.form.submit()' %>
  </label>
<% end %>
    
<%= error_messages_for :connector %>
    
<table id="blocks">
  <tr>
    <th>Name</th>
    <th>Updated</th>
    <th>Uses</th>
    <th>View</th>
    <th>Select</th>
  </tr>
  <% @blocks.each do |block| %>
    <tr>
      <td><%= block.name %></td>
      <td><%= block.updated_at.to_s(:date) %></td>
      <td class="uses"><%= link_to_usages(block) %></td>
      <td class="view"><%= link_to action_icon(:view), cms_path(block) %></td>
      <td class="select">
        <% form_for :connector, :url => cms_path(:connectors, :create) do |f| %>
          <%= hidden_field_tag :page_id, @page.to_param %>
          <%= hidden_field_tag :container,  @container %>
          <%= hidden_field_tag :content_block_type, block.content_block_type %>
          <%= hidden_field_tag :content_block_id, block.id %>
          <%= image_submit_tag action_icon_src(:connect) %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>