<% @page_title = "Content Library / View Usages" %>
<%= render :partial => 'cms/blocks/toolbar' %>
<h1 class="page_title">View Usages</h1>
<p>The following pages use the <%=  @block.display_name %> Block named '<%= @block.name %>'.</p>

<table id="blocks">
  <tr>
    <th>Page Name</th>
    <th>Path</th>
  </tr>
  <% @pages.each do |page| %>
    <tr>
      <td class="page_name"><%=  page.name %></td>
      <td class="path"><%=  link_to page.path, page.path %></td>
    </tr>
  <% end %>
</table>
