<% @page_title = @toolbar_title = "List #{dynamic_view_type.name.demodulize.titleize.pluralize}" %>
<%= content_for(:html_head) do %>
  <%= javascript_tag do %>
    jQuery(function($){
      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1];
        var id = match[2];
        $('table.data tbody tr').removeClass('selected');
        $(this).addClass('selected');
        $('#edit_button').removeClass('disabled').attr('href', '/cms/<%= dynamic_view_type.name.demodulize.underscore.pluralize %>/'+id+'/edit');
        $('#delete_button').removeClass('disabled').attr('href', '/cms/<%= dynamic_view_type.name.demodulize.underscore.pluralize %>/'+id)
      })
    })
  <% end %>
<% end %>

<%= content_for :functions do %>
    <%= add_button cms_new_path_for(dynamic_view_type) %>
    <%= edit_button  %>
    <%= delete_button :title => "Are you sure you want to delete this #{dynamic_view_type.name.demodulize.underscore.titleize}?" %>
<% end %>

<div class="roundedcorners">
  <table class="data">
    <tr>
      <th class="first"></th>
      <th><div class="dividers">Name</div></th>
      <th><div>Updated At</div></th>
      <th class="last"></th>
    </tr>
    <% @views.each do |view| %>
      <tr id="<%= dynamic_view_type.form_name %>_<%= view.id %>">
        <td class="first"></td>
        <td><div class="dividers" title="<%=h view.file_path %>"><%=h view.display_name %></div></td>
        <td><div><%= view.updated_at && view.updated_at.to_s(:date) %></div></td>
        <td class="last"></td>
      </tr>
    <% end %>
  </table>
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
</div>
<% if @views.size == 0 && params[:key_word]%>
  <div class="pagination">No results found for '<%= params[:key_word] %>'</div>
<% elsif @views.total_pages > 1 %>
  <%= render_pagination @views, dynamic_view_type %>
<% end %>

