<%= content_for :button_bar do %>
    <%= link_to "Add User", new_user_path, :id => "add_user_button", :class => "btn btn-primary pull-left" %>
    <% if @user && !@user.new_record? %>
        <%= link_to("Edit User", edit_user_path(@user), :id => "edit_user_button", :class => "btn btn-primary pull-left") if current_user.able_to?(:administrate)%>
        <%= link_to("Change Password", [:change_password, @user], :id => "change_password_button", :class => "btn btn-primary pull-left") %>
    <% end %>
    <% if @users %>
        <div class="pull-right">
          <%= form_tag(users_path, :method => :get, :class => 'navbar-form') do %>
              <%= text_field_tag "key_word", params[:key_word], placeholder: "Find Users..." %>
              <span id="user_search_submit_container">
            <%= image_submit_tag "cms/user_search_submit.gif", :alt => "submit", :id => "user_search_submit" %>
          </span>
              <%= select_per_page %>
              <%= group_filter %>
              <%= check_box_tag "show_expired", "yes", params[:show_expired] %>
              <span>Show inactive?</span>
          <% end %>
        </div>
    <% end %>
<% end %>