<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/selectbox') %>
  <%= javascript_tag do %>
    jQuery(function($) {
      $('#per_page').selectbox({width: '127px'});
      $('#group_id').selectbox({width: '126px'});
    })
  <% end %>
<% end %>

<%= yield :toolbar_links %>

<% if @users %>
  <div class="box">
    <%= form_tag(users_path, :method => :get ) do %>
    <div><%= text_field_tag "key_word", params[:key_word] %></div><div id="user_search_submit_container">
        <%= image_submit_tag "cms/user_search_submit.gif", :alt=>"submit", :id=>"user_search_submit" %>
    </div>
    <div><%= select_per_page %></div>
    <div><%= group_filter %></div>
    <div class="cb"><label><%= check_box_tag "show_expired", "yes", params[:show_expired] %><span>Show inactive?</span></label></div>
    <% end %>
  </div>
<% end %>