<div class="fields text_fields">
    <%= f.label :login, "Username" %>
    <%= f.text_field :login, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :email %>
    <%= f.text_field :email, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name, :autocomplete => "off" %>
</div>
<div class="fields text_fields">
    <%= f.label :expires_at, "Expiration Date" %>
    <%= f.date_picker :expires_at, :autocomplete => "off" %>
</div>
