<div class="fields">
    <%= f.label :login, "Username" %>
    <%= f.text_field :login %>
</div>
<div class="fields">
    <%= f.label :email %>
    <%= f.text_field :email %>
</div>
<div class="fields">
    <%= f.label :first_name, "First Name" %>
    <%= f.text_field :first_name %>
</div>
<div class="fields">
    <%= f.label :last_name, "Last Name" %>
    <%= f.text_field :last_name %>
</div>