<% @page_title = @toolbar_title = "Set New Password" %>
<%= able_to? :administrate do %>
  <%= content_for :toolbar_links do %>
    <%= link_to(span_tag("List All"), users_path, :id => "list_all_button", :class => "button") %>
    <%= link_to(span_tag("Edit User"), edit_user_path(@user), :id => "edit_user_button", :class => "button") %>
  <% end %>

  <%= content_for :functions, render(:partial => "toolbar") %>
<% end %>

<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
<% end %>

<%= form_for([:update_password, @user]) do |f| %>
  <%= f.cms_error_messages %>
  <%= render :partial => 'password', :locals => {:f => f} %>
  <div class="buttons">
    <%= lt_button_wrapper(f.submit("Save", :class => "submit")) %>
  </div>
<% end %>
