<% @page_title = @toolbar_title = t("users.change_password.page_title") %>
<% able_to? :administrate do %>
  <% content_for :toolbar_links do %>
    <%= link_to(span_tag(t "users.change_password.list_all"), url_for(:controller => "users", :action => "index"), :id => "list_all_button", :class => "button") %>
    <%= link_to(span_tag(t "users.change_password.edit_user"), url_for(:controller => "users", :action => "edit", :id => @user.id), :id => "edit_user_button", :class => "button") %>
  <% end %>

  <%= content_for :functions, render(:partial => "toolbar") %>
<% end %>

<% content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
<% end %>

<% form_for([:update_password, :cms, @user]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'password', :locals => {:f => f} %>
  <div class="buttons">
    <%= lt_button_wrapper(f.submit(t("users.change_password.save"), :class => "submit")) %>
  </div>
<% end %>
