<% use_page_title "Set New Password" %>
<%= simple_form_for([:update_password, @user], html: {autocomplete: 'off'}) do |f| %>
    <%= page_title_with_buttons(f) %>
    <%= render layout: 'main_with_sidebar' do %>
        <%= render 'password', f: f %>
        <%= content_for :sidebar  do %>
            <div class="sidebar-block">
              <h4 class="gray">Username: <span class="dark"><%=  @user.login %></span></h4>
            </div>
        <% end %>
    <% end %>
    <%= bottom_buttons(f) %>
<% end %>