<% @page_title = @toolbar_title = "Set New Password" %>
<% content_for :toolbar_links do %>
  <%= link_to(span_tag("List All"), url_for(:controller => "users", :action => "index"), :id => "list_all_button", :class => "button") %>
  <%= link_to(span_tag("Edit User"), url_for(:controller => "users", :action => "edit", :id => @user.id), :id => "edit_user_button", :class => "button") %>
<% end %>

<%= content_for :functions, render(:partial => "toolbar") %>

<% content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
<% end %>

<% form_for([:update_password, :cms, @user]) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'password', :locals => {:f => f} %>
  <div class="buttons">
    <%= lt_button_wrapper(f.submit("Save", :class => "submit")) %>
  </div>
<% end %>