<% use_page_title "Administration / User Browser" %>
<% @toolbar_title = "List Users" %>
<%= render 'toolbar' %>

  <table class="data table table-bordered table-rounded table-hover table-striped" width="100%">
    <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Groups</th>
      <th>Expiration</th>
      <th>Activation</th>
    </tr>
    </thead>
    <% @users.each do |user| %>
        <tr>
          <td>
            <%= link_to "#{user.full_name_or_login}", edit_user_path(user) %>
          </td>
          <td>
            <%= link_to user.email, "mailto:#{user.email}" %>
          </td>
          <td>
              <% user.groups.all(:order => "#{Cms::Group.table_name}.name").each do |g| %>
                  <%= g.name %>
              <% end %>
          </td>
          <td>
            <%= user.expires_at ? format_date(user.expires_at) : "Never" %>
          </td>
          <td>
            <% unless user.expired? %>
                Active
                <%= link_to("<span>Disable</span>".html_safe, [:disable, user], :class => "http_put sm_button") if @users.size > 1 %>
            <% else %>
                Inactive
                <%= link_to("<span>Enable</span>".html_safe, [:enable, user], :class => "http_put sm_button") %>
            <% end %>
          </td>
        </tr>
    <% end %>
  </table>
<% if @users.size == 0 && params[:key_word] %>
    <div class="pagination">No results found for '<%= params[:key_word] %>'</div>
<% elsif @users.total_pages > 1 %>
    <%= render_pagination @users, Cms::User %>
<% end %>

