<% page_title "Administration / User Browser" %>
<% @toolbar_title = "List Users" %>

<%= content_for :toolbar_links do %>
  <%= link_to(span_tag("ADD USER"), new_user_path,
    :id => "add_user_button", 
    :class => "button") %>
<% end %>

<%= content_for :functions do %>
  <%= render(:partial => "toolbar") %>
<% end %>

<div class="roundedcorners">
<table class="data" width="100%">
  <thead>
    <tr>
      <th class="first"></th>
      <th><div class="dividers">Name</div></th>
      <th><div class="dividers">Email</div></th>
      <th><div class="dividers">Groups</div></th>
      <th><div class="dividers">Expiration</div></th>
      <th class="last" colspan="2">Activation</th>
    </tr>
  </thead>
    <% @users.each do |user|%>
    <tr>
        <td class="first"></td>
        <td><div class="dividers"><%= link_to "#{user.full_name_or_login}", edit_user_path(user) %></div></td>
	      <td><div class="dividers"><%= link_to user.email, "mailto:#{user.email}" %></div></td>
        <td>
            <div class="dividers">
            <% user.groups.all(:order => "#{Cms::Group.table_name}.name").each do |g| %>
	            <%= g.name %><br/>
	          <% end %>
	          </div>
        </td>
	      <td><div class="dividers"><%= user.expires_at ? format_date(user.expires_at) : "Never" %></div></td>
        <td>
	  <% unless user.expired? %>
	  <span class="user_state">Active</span>
            <%= link_to("<span>Disable</span>".html_safe, [:disable, user], :class => "http_put sm_button") if @users.size > 1 %>
	    <% else %>
	  <span class="user_state">Inactive</span>
            <%= link_to("<span>Enable</span>".html_safe, [:enable, user], :class => "http_put sm_button") %>
	  <% end %>
        </td>
        <td class="last"></td>
    </tr>
    <% end %>
</table>
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
</div>
<% if @users.size == 0 && params[:key_word]%>
  <div class="pagination">No results found for '<%= params[:key_word] %>'</div>
<% elsif @users.total_pages > 1 %>
  <%= render_pagination @users, Cms::User %>
<% end %>

