<% @page_title = "Administration / User Browser" %>
<h2><%= @page_title %></h2>
<p>The User Browser allows you to browse all the users in the system. <br />
<%= link_to "Add a User", :controller=>"users", :action=> "new" %>
</p>

<form action="#">
<table>
    <tr>
        <td>Search by Username, Email or Name: <input name="keyword"></td>
        <td>
            Display:
            <select name="max">
                <option value="10">10 per page</option>
                <option value="20" selected>20 per page</option>
                <option value="50">50 per page</option>
                <option value="100">100 per page</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Filter by:
            <select name="groupId">
                <option value="">Any Group</option>
                <option value="1">Cms Administrators</option>
            </select>
            <br>
            <input type='checkbox' value='true' name="showExpired" > Show disabled users?
        </td>
        <td align="right">
            <input type="image" class="imageButton" alt="Search"/>
        </td>
    </tr>
</table>
</form>
<br />
Displaying 1 to 8 of 8 results.
<table class="data">
    <tr>
        <th>General Information</th>
        <th>Groups</th>
        <th>Actions</th>
    </tr>
    <% @users.each do |user|%>
    <tr>
        <td>
            <span class="username"><%= user.login  %></span><br/>
            Full Name: <%= "#{user.first_name} #{user.last_name}" %> <br/>
            Email: <%= user.email %> <br/>
            Expires: <%= user.expires_at ? format_date(user.expires_at) : "Never" %>
        </td>
        <td>
            <% user.groups.each do |g| %>
			- <%= g.name %><br/>
			<% end %>
        </td>
        <td>
            <%= link_to "Edit", :controller=>"users", :action=> "edit", :id => user.id %><br/>
            <%= link_to "Change Password", :controller=>"users", :action=> "change_password", :id => user.id %> <br/>
            <%= link_to "Disable User", :controller=>"users", :action=> "disable", :id => user.id unless user.expires_at %>
            <%= link_to "Enable User", :controller=>"users", :action=> "enable", :id => user.id if user.expires_at %> <br/>
        </td>
    </tr>
    <% end %>
</table>