<% page_title h(@user.login) %>
<%= render 'toolbar' %>

<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
<% end %>

<div class="faux_form">
  <div class="fields">
    <span class="label">Username</span>
    <%=h @user.login %>
  </div>
  
  <div class="fields">
    <span class="label">Email</span>
    <%=h @user.email %>
  </div>
  
  <div class="fields">
    <span class="label">First name</span>
    <%=h @user.first_name %>
  </div>
  
  <div class="fields">
    <span class="label">Last name</span>
    <%=h @user.last_name %>
  </div>
  
  <div class="fields">
    <span class="label">Groups</span>
    
    <ul>
      <% @user.groups.each do |group| -%>
        <li><%= group.name %></li>
      <% end -%>
    </ul>
  </div>
</div>
