<%= content_for :html_head, stylesheet_link_tag('cms/form_layout') %>
<%= f.cms_error_messages %>

<%= f.cms_text_field :name %>
<%= f.cms_text_field :path %>

<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <%= f.label :hidden, "Hide from menus?" %>
    <%= f.check_box :hidden, :tabindex => next_tabindex %>
  </div>
</div>

<%= able_to?(:administrate) do %>
  <div class="checkbox_group fields" style="float: left; width: 100%">
    <label>Public Permissions</label>
    <%= hidden_field_tag "section[group_ids][]", "", :id => nil %>
    <div class="checkboxes">
      <% for group in public_groups %>
      <div class="checkbox_fields">
        <%= check_box_tag "section[group_ids][]", group.id,
              @section.groups.include?(group), :class => "public_group_ids", :id => "public_group_ids_#{group.id}", :tabindex => next_tabindex %>
          <label for="public_group_ids_<%= group.id %>"><%= group.name %></label>
      </div>
      <% end %>
      <div class="instructions">Which &ldquo;Public&rdquo; groups can view pages in this section?</div>
      <div class="check_uncheck">
        <%= check_uncheck_tag 'input.public_group_ids' %>
      </div>
    </div>
  </div>

  <br clear="all" />

  <div class="checkbox_group fields" style="float: left; width: 100%">
    <label>CMS Permissions</label>
    <%= hidden_field_tag "section[group_ids][]", "", :id => nil %>
    <div class="checkboxes">
      <% for group in cms_groups %>
      <div class="checkbox_fields">
          <%= check_box_tag "section[group_ids][]", group.id,
              @section.groups.include?(group), :class => "cms_group_ids", :id => "cms_group_ids_#{group.id}", :tabindex => next_tabindex %>
          <label for="cms_group_ids_<%= group.id %>"><%= group.name %></label>
      </div>
      <% end %>
      <div class="instructions">Which &ldquo;CMS&rdquo; groups can edit pages and content in this section?</div>
      <div class="check_uncheck">
        <%= check_uncheck_tag 'input.cms_group_ids' %>
      </div>
    </div>
  </div>
  <br clear="all" />
<% end %>

<div class="buttons">
  <%= lt_button_wrapper(f.submit("Save", :class => "submit", :tabindex => next_tabindex)) %>
</div>
