<li id="section_<%= section.id %>" class="section">
  <%= link_to_function action_icon(section.root? ? :folder_open : :folder) %>
  <span class="section"><%=h section.name %></span>
  <ul<%= section.root? ? ' ' : ' style="display: none"' %>>
    <%= render :partial => 'section', :collection => section.children.all(:include => :pages) %>
    <%= render :partial => 'page', :collection => section.pages %>
  </ul>
</li>
