<% page_title "Edit Properties / '#{h(@section.name)}' Section" %>
<%= content_for :functions do %>
<h1><%= @page_title %></h1>
<%= link_to(span_tag("list all"), cms.sitemap_path, :class => "button") %>
<br clear="all"/>
<% end %>
<%= form_for(@section) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
