%h2=h @move_to.name

-unless @section.parent == @move_to || @section == @move_to
  = link_to "#{action_icon(:folder_move)} Move to this Section", cms_move_section_to_path(@section, @move_to), :method => :put

-if(@move_to.parent)
  %p= link_to "Back to Parent Section", move_cms_section_path(@section, :section_id => @move_to.parent)

%ul
  - @move_to.children.all(:order => "name").each do |section|
    %li.section= link_to h(section.name), move_cms_section_path(@section, :section_id => section)
      
  - @move_to.pages.all(:order => "name").each do |page|
    %li{:class => "page #{page.status.underscore}"}
      =h page.name