<% content_for :html_head do %>
<script type="text/javascript">
jQuery(function($){
  $("#section_name").blur(function(){
    var section = { name: null, path: "<%= @parent.path %>".replace(/\/$/, '') }
    section.name = $.trim($(this).val()).toLowerCase().replace(/-|_/g, '').replace(/ /g, '_').replace(/\W/g, '')
    $("#section_path").val(section.path + "/" + section.name)
  })
})
</script>
<% end %>
<% @page_title = "New Section" %>
<% content_for :functions  do %>
<%= "<h1>#{ @page_title }</h1>" %> 
<%= link_to(span_tag("list all"), cms_sitemap_path, :class => "button") %>
<br clear="all"/>
<% end %>
<% form_for(@section, :url => cms_path(:sections, :create), :id => 'section_form') do |f| %>
  <%= hidden_field_tag :section_id, @parent.id %>
  <% @tabindex = 0 %>
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
