<%= content_for :html_head do %>
<script type="text/javascript">
jQuery(function($){
  $("#section_name").keyup(function(){
    var section_path = "<%= @parent.path %>".replace(/\/$/, '')
    $("#section_path").val(section_path + "/" + $.cms.slug($(this).val()))
  })
})
</script>
<% end %>
<% page_title "New Section" %>
<%= content_for :functions  do %>
<%= "<h1>#{ @page_title }</h1>" %> 
<%= link_to(span_tag("list all"), sitemap_path, :class => "button") %>
<br clear="all"/>
<% end %>
<%= form_for(@section, :id => 'section_form') do |f| %>
  <%= hidden_field_tag :section_id, @parent.id %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
