%h2=h @section.name

-if(@section.parent)
  %p= link_to "Back to Parent Section", [:cms, @section.parent]

%p
  = link_to "#{action_icon(:folder_add)} New Section", new_cms_section_section_path(@section)
  = link_to "#{action_icon(:folder_edit)} Edit Section", edit_cms_section_path(@section)
  -if(@section.parent)
    = link_to "#{action_icon(:folder_move)} Move Section", move_cms_section_path(@section)
    = link_to "#{action_icon(:folder_delete)} Delete Section", cms_section_path(@section), :method => :delete, :confirm => "If you delete this section, all of it's child sections and pages will be moved up to the '#{@section.parent.name}' section.  Are you sure you want to delete this section?"
  = link_to "#{action_icon(:page_add)} New Page", new_cms_section_page_path(@section)

  
%ul
  - @section.children.all(:order => "name").each do |section|
    %li.section= link_to h(section.name), [:cms, section]
  - @section.pages.all(:order => "name").each do |page|
    %li{:class => "page #{page.status.underscore}"}
      =h page.name
      = link_to "#{action_icon(:page_edit)} Edit Page", page.path
      = link_to "#{action_icon(:page_move)} Move Page", move_cms_page_path(page)