<!DOCTYPE html>
<%#
  # A CMS template used by Cucumber tests. This is the desktop only template, which should have no matching partner in layouts/mobile
 %>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= page_title %></title>
    <%= yield :html_head %>
  </head>
  <body style="margin: 0; padding: 0; text-align: center;">
    <div id="wrapper" style="width: 700px; margin: 0 auto; text-align: left; padding: 30px">
      I am the desktop TEMPLATE.
      <%= render_menu %>
      <h1><%= page_title %></h1>
      <%= container :main %>
    </div>
  </body>
</html>
