<div class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields">
  <%= f.label :limit, "Number to show" %>
  <%= f.text_field :limit, :size => 2 %>
</div>
<div class="fields">
  <%= f.label :category_id, "Category" %>
  <%= f.select :category_id, Category.of_type("News Release").map{|c| [c.name, c.id.to_s]}, :include_blank => true %>
</div>
