<div class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields">
  <%= f.label :limit, "Number to show" %>
  <%= f.text_field :limit, :size => 2 %>
</div>
<div class="fields">
  <%= f.label :category_id, "Category" %>
  <%= f.collection_select :category_id, categories_for('News Release'), :id, :path, :include_blank => true %>
</div>
