<% 
   root = Section.root.first
   root.full_path = root.name
   @sections = []
   @sections << root
   @sections += root.all_children_with_name
   @sections.each {|s| s.full_path = "/" + s.full_path unless s == root }
  @block.attachment_file_path = @block.attachment.file_path if @block.attachment_file_path.blank? && !@block.new_record?
%>
<% content_for :html_head do %>
  <%= stylesheet_link_tag "cms/taglist" %>
  <%= javascript_include_tag "jquery.dimensions", "jquery.taglist", "/cms/tags" %>
  <% javascript_tag do %>
    sanitizationRegexes = <%= Cms::Behaviors::Attaching::SANITIZATION_REGEXES.to_json %>
    function sanitizeFileName(s) {
      $.each(sanitizationRegexes, function(i,e){
        var r = new RegExp(e[0].source, 'g')
        s = s.replace(r, e[1])
      })
      return s;
    }  
    jQuery(function($) {
      $('.tag-list').tagList(tags)
      $('#image_block_attachment_section_id').selectbox({width: '210px'});
    });
    jQuery(function($){
      $('#image_block_attachment_file').change(function(){$('#mock_image_block_attachment_file').attr('value', $(this).attr('value'))});
    });
  <% if @block.new_record? %>
    jQuery(function($){
      var sectionIdPathMap = <%= @sections.inject({}){|map, sec| map[sec.id.to_s] = sec.path.sub(/\/$/,''); map}.to_json %>
      $('#image_block_attachment_file, #image_block_attachment_section_id').change(function(){ 
        $('#image_block_attachment_file_path').val(sectionIdPathMap[$('#image_block_attachment_section_id').val()]+'/'+sanitizeFileName($('#image_block_attachment_file').val()))
      }) 
    });
  <% end %>
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name, :tabindex => (@tabindex += 1) %>
</div>
<div class="fields file_fields">
  <%= f.label :attachment_file, "File" %>
  <input type="text" name="temp" class="mock" id="mock_image_block_attachment_file" />
  <%= image_tag("cms/browse.gif") %>
  <%= f.file_field :attachment_file, :tabindex => (@tabindex += 1) %>
</div>
<div class="fields select_fields">
  <%= f.label :attachment_section_id, "Section" %>
  <div><%= f.collection_select :attachment_section_id, @sections, :id, :full_path, :tabindex => (@tabindex += 1) %></div>
  <br clear="all" />
</div>
<div class="fields text_fields">
  <%= f.label :attachment_file_path, "Path" %>
  <%= f.text_field :attachment_file_path, :tabindex => (@tabindex += 1) %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list :tabindex => (@tabindex += 1) %>
</div>
