<% 
   root = Section.root.first
   root.full_path = root.name
   @sections = []
   @sections << root
   @sections += root.all_children_with_name
   @sections.each {|s| s.full_path = "/" + s.full_path unless s == root }
  @block.attachment_file_path = @block.attachment.file_path if @block.attachment_file_path.blank? && !@block.new_record?
%>
<% content_for :html_head do %>
  <%= stylesheet_link_tag "cms/taglist" %>
  <%= javascript_include_tag "jquery.dimensions", "jquery.taglist", "/cms/tags" %>
  <% javascript_tag do %>
    var regex = <%= Cms::Behaviors::Attaching::SANITIZATION_REGEXES.to_json %>
    jQuery(function($) {
      $('#mock_image_block_attachment_file').focus(function() {this.blur();});
      $('#mock_image_block_attachment_file').mousedown(function() {this.blur();});
      $('.tag-list').tagList(tags)
      $('#image_block_attachment_section_id').selectbox({width: '210px'});
      $('#image_block_attachment_file').change(function(){
        $('#mock_image_block_attachment_file').attr('value', $(this).attr('value'))
      });
      <% if @block.new_record? %>
        var sectionIdPathMap = <%= @sections.inject({}){|map, sec| map[sec.id.to_s] = sec.path.sub(/\/$/,''); map}.to_json %>
        $('#image_block_attachment_file, #image_block_attachment_section_id').change(function(){
          $('#image_block_attachment_file_path').val(sectionIdPathMap[$('#image_block_attachment_section_id').val()]+'/'+$.cms.sanitizeFileName($('#image_block_attachment_file').val()))
        });
      <% end %>
    });
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name, :tabindex => (@tabindex += 1) %>
</div>
<div class="fields file_fields">
  <%= f.label :attachment_file, "File" %>
  <div id="image_block_attachment_file_div">
  <input type="text" name="temp" class="mock" id="mock_image_block_attachment_file" />
  <%= image_tag("cms/browse.gif") %>
  <%= f.file_field :attachment_file, :tabindex => (@tabindex += 1), :size => 1 %>
  </div>
</div>
<div class="fields select_fields">
  <%= f.label :attachment_section_id, "Section" %>
  <div><%= f.collection_select :attachment_section_id, @sections, :id, :full_path, :tabindex => (@tabindex += 1) %></div>
  <br clear="all" />
</div>
<div class="fields text_fields">
  <%= f.label :attachment_file_path, "Path" %>
  <%= f.text_field :attachment_file_path, :tabindex => (@tabindex += 1) %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list :tabindex => (@tabindex += 1) %>
</div>
