<% 
   root = Section.root.first
   root.full_path = root.name
   @sections = []
   @sections << root
   @sections += root.all_children_with_name
  @block.attachment_file_name = @block.attachment.file_name if @block.attachment_file_name.blank? && !@block.new_record?
%>
<% content_for :html_head do %>
  <%= stylesheet_link_tag "cms/taglist" %>
  <%= javascript_include_tag "jquery.dimensions", "jquery.taglist", "/cms/tags" %>
  <% javascript_tag do %>
  $(document).ready(function() {
    $('.tag-list').tagList(tags)
    $('#image_block_attachment_section_id').selectbox({debug:true, width: '210px'});
  });
  jQuery(function($){
     $('#image_block_attachment_file').change(function(){$('#mock_image_block_attachment_file').attr('value', $(this).attr('value'))});
  });
  <% if @block.new_record? %>
    jQuery(function($){
      var sectionIdPathMap = <%= @sections.inject({}){|map, sec| map[sec.id.to_s] = sec.path.sub(/\/$/,''); map}.to_json %>
      $('#image_block_attachment_file, #image_block_attachment_section_id').change(function(){ 
        $('#image_block_attachment_file_name').val(sectionIdPathMap[$('#image_block_attachment_section_id').val()]+'/'+$('#image_block_attachment_file').val()) 
      }) 
    });
  <% end %>
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields file_fields">
  <%= f.label :attachment_file %>
  <input type="text" name="temp" class="mock" id="mock_image_block_attachment_file" />
  <%= image_tag("cms/browse.gif") %>
  <%= f.file_field :attachment_file %>
</div>
<div class="fields select_fields">
  <%= f.label :attachment_section_id, "Section" %>
  <div><%= f.collection_select :attachment_section_id, @sections, :id, :full_path %></div>
  <br clear="all" />
</div>
<div class="fields text_fields">
  <%= f.label :attachment_file_name %>
  <%= f.text_field :attachment_file_name %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list %>
</div>
