- form_for([:cms, @page_template]) do |f|
  = f.error_messages
  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :file_name
    = f.text_field :file_name
  .field
    = f.label :language
    = f.select :language, [["ERB", "erb"], ["Haml", "haml"]]
  .field
    = f.label :body
    = f.text_area :body, :rows => 12
  .buttons
    = f.submit "Save"