<% form_for(@page_template, :url => cms_path(@page_template, @page_template.new_record? ? :create : :update)) do |f| %>
  <%= f.error_messages %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :file_name %>
    <%= f.text_field :file_name %>
  </div>
  <div class="fields">
    <%= f.label :language %>
    <%= f.select :language, [["ERB", "erb"], ["Haml", "haml"]] %>
  </div>
  <div class="fields">
    <%= f.label :body %>
    <%= f.text_area :body, :rows => 25, :cols => 80 %>
  <div class="buttons">
    <%= f.submit "Save" %>
  </div>
<% end %>