<% @page_title = "View Page Templates" %>
<p><%= link_to "#{action_icon(:add)} New Page Template", cms_path(:page_templates, :new) %></p>

<table id="blocks">
  <tr>
    <th>Name</th>
    <th>File Name</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @page_templates.each do |page_template| %>
    <tr>
      <td><%=h page_template.name %></td>
      <td><%=h page_template.file_name %></td>
      <td class="edit"><%= link_to action_icon(:edit), cms_path(page_template, :edit) %></td>     
      <td class="delete"><%= link_to action_icon(:delete), cms_path(page_template, :destroy), :method => :delete, :confirm => "Are you sure you want to delete '#{page_template.name}'?" %></td>
    </tr>
  <% end %>
</table>