<% @page_title = @toolbar_title = "List Page Templates" %>
<% content_for(:html_head) do %>
  <% javascript_tag do %>
    jQuery(function($){
      $('#blocks tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1];
        var id = match[2];
        $('#blocks tbody tr').removeClass('selected');
        $(this).addClass('selected');
        $('#edit_button').removeClass('disabled').attr('href', '/cms/page_templates/edit/'+id);
        $('#delete_button').removeClass('disabled').attr('href', '/cms/page_templates/destroy/'+id)
      })
    })
  <% end %>
<% end %>

<% content_for :functions do %>
<%= link_to(span_tag("Add"), cms_path(:page_templates, :new), :class => "button") %>
<%= link_to(span_tag("Edit"), '#', :id => 'edit_button', :class => "button disabled") %>
<%= link_to span_tag("Delete"), "#", :id => "delete_button", :class => "button disabled http_delete", :onclick => "return confirm('Are you sure you want to delete this page template?')" %>
<% end %>

<table id="blocks">
  <thead>
  <tr>
    <th>Name</th>
    <th class="last">File Name</th>
  </tr>
  </thead>
  <% @page_templates.each do |page_template| %>
    <tr id="page_template_<%= page_template.id %>">
      <td><%=h page_template.name %></td>
      <td><%=h page_template.file_name %></td>
    </tr>
  <% end %>
</table>
