%p= link_to "#{icon(:add)} New Page Template", new_cms_page_template_path

%table#blocks
  %tr
    %th Name
    %th File Name
    %th Edit
    %th Delete
  - @page_templates.each do |page_template|
    %tr
      %td=h page_template.name
      %td=h page_template.file_name
      %td.edit= link_to icon(:edit), edit_cms_page_template_path(page_template)      
      %td.delete= link_to icon(:delete), [:cms, page_template], :method => :delete, :confirm => "Are you sure you want to delete '#{page_template.name}'?"