<% page_title t("email_messages.index.page_title") %>
<% @toolbar_title = t("email_messages.index.toolbar_title") %>

<div class="roundedcorners">
  <table  class="data" width="100%">
    <thead>
      <tr>
        <th class="first" colspan="2"><div class="dividers"><%= t "email_messages.index.to" %></div></th>
        <th style="width: 48%;"><div class="dividers"><%= t "email_messages.index.subject" %></div></th>
        <th class="last" colspan="2" style="width: 20%;"><div class="dividers"><%= t "email_messages.index.delivered" %></div></th>
    </tr>
  </thead>
  <tbody>
    <% @messages.each do |message|%>
      <tr>
        <td class="first"></td>
        <td><div class="dividers"><%= link_to h(truncate(message.recipients)), [:cms, message] %></div></td>
        <td><div class="dividers"><%= link_to h(truncate(message.subject)), [:cms, message] %></div></td>
        <td style="white-space: nowrap"><%=h time_on_date(message.delivered_at) %></td>
	<td class="last"></td>
      </tr>
    <% end %>
    <% if @messages.empty? %>
      <tr>
	<td class="first">&nbsp;</td>
	<td colspan="3" style="height: 30px; padding-top:10px; letter-spacing: 2px;"><%= t "email_messages.index.no_mail" %></td>
	<td class="last">
      </tr>
    <% end %>
  </tbody>
</table>
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
</div>
<% if @messages.total_pages > 1 %>
  <%= render_pagination @messages, :email_messages %>
<% end %>
