<div id="footer">
  <p>&copy; 1998-<%= Time.now.year %> <a href="#">BrowserMedia</a>. All Rights Reserved</p>
  <p>Browser CMS v<%= Cms.version %> b<%= Cms.build_number %> Rails <%= RAILS_GEM_VERSION %> Env <%= Rails.env %></p>
</div>