<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= page_title %></title>
  <%= stylesheet_link_tag 'cms/application' %>
  <%= javascript_include_tag "cms/application" %>
  <%= javascript_include_tag *cms_content_editor %>
  <%= csrf_meta_tags %>
  <%= yield :html_head %>
</head>
