<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'cms/application' %>
  <%= javascript_include_tag :defaults, 'jquery' %>
  <script type="text/javascript">
    jQuery.noConflict();
    var $J = jQuery;
    jQuery.log = function(message) {
      if(window.console) {
         console.debug(message);
      }
    };    
  </script>
  <%= javascript_include_tag 'jquery-ui', 'jquery.cookie.js' %>
  <%= javascript_include_tag '/fckeditor/fckeditor', 'cms/editor' %>
  <%= javascript_include_tag 'cms/application' %>
  <%= yield :html_head %>
</head>