<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title><%= @page_title %></title>
  <%= stylesheet_link_tag 'cms/application', 'cms/date_picker', 'cms/sitemap', 'cms/taglist' %>
  <%= javascript_include_tag "cms/application", cms_content_editor %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    jQuery(function($){
      <% if protect_against_forgery? %>      
        $.cms.authenticity_token = '<%= form_authenticity_token %>'
      <% end %>
    })
  </script>
  <%= yield :html_head %>
</head>
