


  <div class="logged-in">
    <div class="container center-column">
      <ul class="subnav right">
        <li>Toral Contractor</li>
        <li><a href="#">Settings</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Logout</a></li>
      </ul>
    </div>
  </div>

  <div class="primary-nav">
    <div class="container center-column">
      <a href="#"><img src="/assets/cms/logo.png" class="main-logo"></a>

      <ul class="mainnav">
        <li>
          <a href="#">
            <%# This nested li syntax causes functional tests to fail. (i.e. ignoring attempt to close li with div)  %>
            <%= nav_link_to image_tag("cms/home.png"), "/" %>
          </a>
          <ul class="dropdown-menu">
          </ul>
        </li>
        <li>
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            Sitemap
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <%= nav_link_to "View Sitemap", cms.sitemap_path %>
            <%= nav_link_to "Dashboard", cms.dashboard_path %>
            <%= divider_tag %>
            <%= nav_link_to "Redirects", cms.redirects_path %>
          </ul>
        </li>
        <li>
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            Content
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu" id="content-library-menu">
            <%= nav_link_to "Content Library", cms.content_library_path %>
            <%= divider_tag %>
            <% modules = Cms::ContentType.available_by_module
               modules.keys.sort.each_with_index do |module_name, i| %>
                <%= divider_tag(i) %>
                <% modules[module_name].each do |type| %>
                    <%= nav_link_to h(type.display_name), engine_aware_path(type) %>
                <% end -%>
            <% end %>
          </ul>
        </li>
        <li>
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <%= nav_link_to "Users", cms.users_path %>
            <%= nav_link_to "Groups", cms.groups_path %>
            <%= divider_tag %>
            <%= nav_link_to "Partials", cms.page_partials_path %>
            <%= nav_link_to "Page Templates", cms.page_templates_path %>
            <%= divider_tag %>
            <%= nav_link_to "Routes", cms.page_routes_path %>
            <%= nav_link_to "Clear Page Cache", cms.cache_path %>
            <%= nav_link_to "Email Messages", cms.email_messages_path %>
            <% Rails.application.config.cms.tools_menu.each do |menu_item| %>
                <%= nav_link_to(menu_item[:name], self.send(menu_item[:engine]).send(menu_item[:route_name])) %>
            <% end %>
          </ul>
        </li>
      </ul>


      <div class="btn-group">
        <%= menu_button "New", new_button_path, id: 'new-content-button', class: 'btn btn-primary', 'data-toggle' => 'dropdown', tabindex: '-1' %>
        <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" tabindex="-1">
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu pull-right">
          <%= render 'cms/toolbar/new_pages_menu'%>
          <% modules = Cms::ContentType.available_by_module
             modules.keys.sort.each_with_index do |module_name, i| %>
              <%= divider_tag(i) %>
              <% modules[module_name].each do |type| %>
                  <%= nav_link_to h(type.display_name), cms_new_path_for(type), id: "create_new_#{type.key}" %>
              <% end -%>
          <% end %>
        </ul>

      </div>
    </div>
  </div>
