<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            BrowserCMS
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "Home", "/" %></li>
            <li><%= link_to "Dashboard", cms.dashboard_path %></li>
            <li><%= link_to "Edit Site Properties", "" %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            Sitemap
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to "New Page", cms.new_page_path %></li>
            <li><%= link_to "New Link", cms.new_link_path %></li>
            <li><%= link_to "New Section", cms.new_section_path %></li>
            <li class="divider">
            <li><%= link_to "View Sitemap", cms.sitemap_path %></li>
            <li><%= link_to "Redirects", cms.redirects_path %></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            Content
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% Cms::ContentTypeGroup.menu_list.each_with_index do |group, i| %>
                <%= divider_tag(i) %>
                <% group.types.each do |type| %>
                    <%= select_content_type_tag(type) do %>
                        <%= link_to h(type.display_name), cms_index_path_for(type) %>
                    <% end %>
                <% end -%>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><%= link_to "Users", cms.users_path %></li>
            <li><%= link_to "Groups", cms.groups_path %></li>
            <li class="divider">
            <li><%= link_to "Partials", cms.page_partials_path %></li>
            <li><%= link_to "Page Templates", cms.page_templates_path %></li>
            <li class="divider">
            <li><%= link_to "Routes", cms.page_routes_path %></li>
            <li><%= link_to "Clear Page Cache", cms.cache_path %></li>
            <li><%= link_to "Email Messages", cms.email_messages_path %></li>
            <% Rails.application.config.cms.tools_menu.each do |menu_item| %>
                <li><%= link_to(menu_item[:name], self.send(menu_item[:engine]).send(menu_item[:route_name])) %></li>
            <% end %>
          </ul>
        </li>
        <form class="navbar-search">
          <input type="text" class="search-query" placeholder="Search...">
        </form>
      </ul>
      <ul class="nav pull-right">
        <li>
          <span id="notifications-badge" class="badge" title="Notifications" data-content="You have 0 notifications. ">0</span>
        </li>
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            <%= image_tag "cms/icons/user.png" %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to current_user.full_name, cms.user_path(current_user) %></li>
            <li class="divider">
            <li><%= link_to "Logout", cms.logout_path, :class => "http_delete", :target => "_top" %></li>
          </ul>
        </li>
        <li class="dropdown pull-right">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
            New
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% Cms::ContentTypeGroup.menu_list.each_with_index do |group, i| %>
                <%= divider_tag(i) %>
                <% group.types.each do |type| %>
                    <%= content_tag :li do %>
                        <%= link_to h(type.display_name), cms_new_path_for(type) %>
                    <% end %>
                <% end -%>
            <% end %>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>