<%= render :partial => 'layouts/cms/head' %>
<body>
<%= render :partial => 'layouts/cms/thin_toolbar' %>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12"><h1><%= @toolbar_title ? @toolbar_title : page_title %></h1></div>
    </div>
    <div class="row-fluid">
        <%= yield %>
    </div>
    <div class="row-fluid">
        <div class="span12"><%= render :partial => 'layouts/cms/footer' %></div>
    </div>
</div>
</body>
</html>
