!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'cms'
    = javascript_include_tag :defaults    
    = yield :html_head
  %body
    #page
      = cms_toolbar
      #cms_content_library
        %table{:width => '100%', :cellpadding => 5}
          %tr
            %td{:valign=>'top', :width => 240}= render :partial => 'cms/shared/admin_sidebar'
            %td{:valign=>'top'}= yield