<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag "cms/application" %>
  <%= javascript_include_tag cms_content_editor %>
  <%= render 'layouts/cms/head' %>
</head>
<body>
<nav id="main-nav">
  <%= render 'layouts/cms/main_menu' %>
</nav>
<%= render 'cms/sites/flash' %>
<section class="container center-column main-container bottom-form-btn clearfix">
  <% if content_for?(:before_main_content) %>
      <%= yield :before_main_content  %>
  <% end %>
  <%= yield %>
  <div class="padded row-fluid">
    <div class="span12"><%= render :partial => 'layouts/cms/footer' %></div>
  </div>
</section>
</body>
</html>
