<%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="page">
      <%= cms_toolbar %>
      <div id="cms_content_library">
        <table width="100%" cellpadding="5">
          <tr>
            <td valign="top" width="240">
              <%= yield :sidebar %>
              <h2 style="margin-top: 0">Content Types</h2>
              <ul>
                <% ContentType.all(:order => "name").each do |content_type| %>
                  <li><%= link_to content_type.display_name, cms_path("/blocks/#{content_type.content_block_type}") %></li>
                <% end %>
              </ul>
            </td>
            <td valign="top">
              <%= yield %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </body>
</html>