<%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <div id="page">
        <%= cms_toolbar(:content_library) %>
      
        <div id="main">
          <div id="functions">
            <%= link_to span_tag("VIEW"), "#", :id => "view_button", :class => "button disabled" %>
            <%= link_to span_tag("EDIT"), "#", :id => "edit_button", :class => "button disabled" %>
            <%= link_to span_tag("ADD A #{@content_type.display_name.upcase}"), cms_path("/blocks/#{@content_type.content_block_type.pluralize}", :new), :id => "add_button", :class => "button" %>
            <%= link_to span_tag("DELETE"), "#", :id => "delete_button", :class => "button disabled", :onclick => "return confirm('Are you sure you want to delete this record?')" %>
            <br clear="all" />
          </div>
          <div id="cms_content_library">
            <div id="menu">
              <div class="pad">
                <%= yield :sidebar %>              
                <h3 id="content_types">Content Types</h3>
                <ul><% ContentTypeGroup.all(:order => "content_type_groups.id").each do |g| %>
          				<li<%= ' class="open"' if g == @content_type.content_type_group %>>
          				  <% if g.content_types.blank? %>
          				  <%= link_to h(g.name), "#" %>          				  
          				  <% else %>
          				  <%= link_to h(g.name), cms_path("/blocks/#{g.content_types.first.content_block_type}") %>          				  
          				  <ul>
          				    <% g.content_types.each do |t| %>
          				      <li<%= ' class="on"' if t == @content_type %>><%= link_to h(t.display_name), cms_path("/blocks/#{t.content_block_type}") %></li>
          				    <% end -%>
          				  </ul><% end -%>
          				</li>
          			<% end %></ul>
              </div>
            </div>
              
            <div id="contentwrap">
              <div id="content">
                <div class="pad">
                  <%= yield %>
                </div>
              </div>
            </div>
            <br clear="all" />
          </div>
          <div id="footer">
            <p>&copy; 1998-2008 <a href="#">BrowserMedia</a>. All Rights Reserved</p>
            <p>Browser CMS v3</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
