  <%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <div id="page">
        <%= cms_toolbar(:content_library) %>
	
        <div id="main">
          <div id="cms_content_library">
            <div id="menu">
              <div class="pad">
                
                <h3>Search</h3>
                <div class="searchbox">
                  <% form_tag '', :method => :get do -%>
                  <%= text_field_tag "search[term]", (params[:search] ? params[:search][:term] : nil) %> <input type="image" src="/images/cms/gray_search.gif" alt="submit" />
                  <% if @content_type.name == "HtmlBlock" -%>
                  <p><label><%= check_box_tag "search[include_body]", true, (params[:search] ? params[:search][:include_body] : false) %> Include body?</label></p>
                  <% end -%>
                  <% if %w[FileBlock ImageBlock].include?(@content_type.name) &&  request.user_agent !~ /MSIE 6/ %>
                  <p><%= select_tag 'section_id', searchable_sections(params[:section_id]) %></p>
                  <% end -%>
                  <% end -%>
                </div>
                
              </div>
              <div class="pad">
                
                <%= yield :sidebar %>
                <h3 id="content_types">Content Types</h3>
                <ul><% ContentTypeGroup.all(:order => "content_type_groups.id").each do |g| %>
          	  <li<%= ' class="open"' if (g == @content_type.content_type_group) %>>
          	    <% if g.content_types.blank? %>
          	    <%= link_to h(g.name), "#" %>          				  
          	    <% else %>
          	    <%= link_to h(g.name), cms_path("/blocks/#{g.content_types.first.content_block_type}") %>          				  
          	    <ul>
          	      <% g.content_types.each do |t| %>
          	      <li<%= ' class="on"' if t == @content_type %>><%= link_to h(t.display_name), cms_path("/blocks/#{t.content_block_type}") %></li>
          	      <% end -%>
          	    </ul><% end -%>
          	  </li>
          	  <% end %></ul>
              </div>
            </div>
            
            <div id="contentwrap">
              <div id="functions">
		<h1><%= @toolbar_title %></h1>
	      <%= yield :functions %>
              </div>
              <div id="content">
                <div class="pad">
                  <%= yield %>
                </div>
              </div>
            </div>
            <br clear="all" />
          </div>
          <%= render :partial => 'layouts/cms/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
