<%= content_for :html_head do %>
  <%= javascript_tag do %>
  <% if %w[FileBlock ImageBlock].include?(content_type.name) &&  request.user_agent !~ /MSIE 6/ %>
    jQuery(function($) {
      $('#section_id').selectbox({width: '129px'});
    });
  <% end %>
    jQuery(function($){
      $('#search_submit').hover(function(){
        $('#search_submit').attr('src', '<%= asset_path "cms/search_submit_h.gif"%>');
      }, function(){
        $('#search_submit').attr('src', '<%= asset_path "cms/search_submit.gif"%>');
    })});
  <% end %>
<% end %>
<%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <div id="page">
        <%= render_cms_toolbar(:content_library) %>
        <div id="main">
          <div id="cms_content_library">
            <div class="top_cap_menu"></div>
            <div id="menu">
              <div class="first">
                <h3>Search</h3>
                <div class="searchbox">
                  <%= form_tag cms_index_path_for(content_type), :method => :get do -%>
                    <div id="search_term_container">
                      <%= text_field_tag "search[term]", (params[:search] ? params[:search][:term] : nil) %>
                    </div>
                    <div id="search_submit_container">
                      <%= image_submit_tag "cms/search_submit.gif", :alt=>"submit", :id=>"search_submit" %>
                    </div>
                    <div style="clear: both;"></div>

                    <% if content_type.name == "Cms::HtmlBlock" -%>
                      <div id="search_include_body_container">
                        <%= check_box_tag "search[include_body]", true, (params[:search] ? params[:search][:include_body] : false) %>
                        <label for="search_include_body">Include body?</label>
                      </div>
                    <%# TODO: Remove IE 6 Hack %>
                    <% elsif %w[Cms::FileBlock Cms::ImageBlock].include?(content_type.name) %>
                      <p><%= select_tag 'section_id', searchable_sections(params[:section_id]) %></p>
                    <% end -%>
                  <% end -%>
                </div>
              </div>
              <div class="bottom_cap_search bottom_pad"></div>
              <div class="top_cap"></div>
              <div id="content_types">
                <%= yield :sidebar %>
                <h3>Content Types</h3>
                <ul>
                  <% Cms::ContentTypeGroup.menu_list.each do |group| %>
                    <li<%= ' class="open"'.html_safe if (group == content_type.content_type_group) %>>
                      <% if group.content_types.blank? %>
                        <%= link_to h(group.name), "#" %>
                      <% else %>
                        <%= link_to h(group.name), cms_index_path_for(group.content_types.first) %>
                        <ul>
                          <% group.types.each do |type|  %>
                            <%= select_content_type_tag(type) do %>
                              <%= link_to h(type.display_name), cms_index_path_for(type) %>
                            <% end %>
                          <% end -%>
                        </ul>
                      <% end -%>
                    </li>
                  <% end %>
                </ul>
              </div>
              <div class="bottom_cap"></div>
            </div>
            <div id="contentwrap">
              <div id="functions">
                <h1><%= @toolbar_title %></h1>
                <%= yield :functions %>
                <br clear="all" />
              </div>
              <div class="top_cap_content"></div>
              <div id="content">
                <div class="pad">
                  <%= yield %>
                </div>
              </div>
            </div>              
            <br clear="all" />
            <div class="bottom_cap_content"></div>
            <%= render :partial => 'layouts/cms/footer' %>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
