
  <% content_for :html_head do %>

<% javascript_tag do %>
<% if %w[FileBlock ImageBlock].include?(@content_type.name) &&  request.user_agent !~ /MSIE 6/ %>
$(document).ready(function() {
  $('#section_id').selectbox({debug:true, width: '129px'});
});
<% end %>

    jQuery(function($){
      $('#search_submit').hover(function(){
        $('#search_submit').attr('src', '/images/cms/search_submit_h.gif');
      }, function(){
        $('#search_submit').attr('src', '/images/cms/search_submit.gif');
})});

<% end %>

  <% end %>
  <%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <div id="page">
        <%= cms_toolbar(:content_library) %>
	
        <div id="main">
          <div id="cms_content_library">
            <div id="menu">
              <div class="pad">
                
                <h3>Search</h3>
                <div class="searchbox">
                  <% form_tag cms_path(:blocks, @content_type.content_block_type), :method => :get do -%>
                    <div id="search_term_container"><%= text_field_tag "search[term]", (params[:search] ? params[:search][:term] : nil) %></div> <div id="search_submit_container"><input id="search_submit" type="image" src="/images/cms/search_submit.gif" alt="submit" /></div>
<div style="clear: both;"></div>

                  <% if @content_type.name == "HtmlBlock" -%>
                  <div id="search_include_body_container"><%= check_box_tag "search[include_body]", true, (params[:search] ? params[:search][:include_body] : false) %><label for="search_include_body">Include body?</label></div>
                  <% elsif %w[FileBlock ImageBlock].include?(@content_type.name) &&  request.user_agent !~ /MSIE 6/ %>
                  <p><%= select_tag 'section_id', searchable_sections(params[:section_id]) %></p>
                  <% end -%>
                  <% end -%>
                </div>
                
              </div>
              <div class="pad" id="content_types">
                
                <%= yield :sidebar %>
                <h3>Content Types</h3>
                <ul><% ContentTypeGroup.all(:order => "content_type_groups.id").each do |g| %>
          	  <li<%= ' class="open"' if (g == @content_type.content_type_group) %>>
          	    <% if g.content_types.blank? %>
          	    <%= link_to h(g.name), "#" %>          				  
          	    <% else %>
          	    <%= link_to h(g.name), cms_path("/blocks/#{g.content_types.first.content_block_type}") %>          				  
          	    <ul>
          	      <% g.content_types.each do |t| %>
          	      <li<%= ' class="on"' if t == @content_type %>><%= link_to h(t.display_name), cms_path("/blocks/#{t.content_block_type}") %></li>
          	      <% end -%>
          	    </ul><% end -%>
          	  </li>
          	  <% end %></ul>
              </div>
            </div>
            
            <div id="contentwrap">
              <div id="functions">
		<h1><%= @toolbar_title %></h1>
	      <%= yield :functions %>
	      <br clear="all" />
              </div>
              <div id="content">
                <div class="pad">
                  <%= yield %>
                </div>
              </div>
            </div>
            <br clear="all" />
          </div>
          <%= render :partial => 'layouts/cms/footer' %>
        </div>
      </div>
    </div>
  </body>
</html>
