<% @toolbar_tab ||= :dashboard %>
<%= render :partial => 'layouts/cms/head' %>
<body>
<nav id="main-nav">
  <%= render :partial => 'layouts/cms/thin_toolbar' %>
</nav>
<section class="container center-column main-container bottom-form-btn">
  <!--div class="padded row-fluid">
      <h1 class="span6"><%= page_title %></h1>
    </div-->
  <div class="padded row-fluid">
    <div class="span12"><%= yield %></div>
  </div>
  <div class="padded row-fluid">
    <div class="span12"><%= render :partial => 'layouts/cms/footer' %></div>
  </div>
</section>
</body>
</html>
