<!DOCTYPE html>
<html>
<head>
  <%= javascript_include_tag 'cms/page_toolbar' %>
  <%= render 'layouts/cms/head' %>
  <%= stylesheet_link_tag 'cms/page_editor' %>
</head>
<body>
<nav id="main-nav">
  <%= render 'layouts/cms/main_menu' %>
</nav>
<%= yield :button_bar %>
<%= yield %>
</body>
</html>
