<% @toolbar_tab ||= :dashboard %>
<%= render :partial => 'layouts/cms/head' %>
<body>
<%= render :partial => 'layouts/cms/thin_toolbar' %>
<section class="container center-column main-container bottom-form-btn">
  <div class="padded row-fluid">
  <h1 class="span6"><%= page_title %></h1>
  </div>
  <%= yield :functions %>
  <%= yield %>
  <%= render :partial => 'layouts/cms/footer' %>
</section>
</body>
</html>
