<% @toolbar_tab ||= :dashboard %>
  <%= render :partial => 'layouts/cms/head' %>
  <body>
    <div id="wrapper">
      <%= render_cms_toolbar(@toolbar_tab) %>
      <div id="main">
        <div class="top_cap"></div>
        <div id="contentwrapbig">
          <div id="functions">
            <%= yield :functions %>
          </div>
          <%= yield %>
        </div>
        <br clear="all" />
        <div class="bottom_cap"></div>
        <%= render :partial => 'layouts/cms/footer' %>     
      </div>
    </div>
  </body>
</html>
