<html>
  <head>
    <title><%= yield :title %></title>
    <%= stylesheet_link_tag 'cms/application' %>
    <%= javascript_include_tag :defaults %>
    <%= yield :html_head %>
  </head>
  <body>
    <div id="page">
      <%= cms_toolbar %>
      <%= yield %>
    </div>
  </body>
</html>