<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <title><%= @page_title %></title>
    <%= yield :html_head %>
  </head>
  <body style="margin: 0; padding: 0; text-align: center; background: #171717">
    <%= cms_toolbar %>
    <div id="wrapper" style="width: 700px; margin: 0 auto; text-align: left; background: #CCC; padding: 30px">
    <%= container :main %>
    <% @exception && @stacktrace && able_to?(:edit_content, :publish_content) do %>
      <pre>
        <%=h @exception.message %>
        <%=h @exception.backtrace.join("\n") %>
      </pre>
    <% end %>
    </div>
  </body>
</html>