<%= page_title_with_buttons f %>
<div class="padded row-fluid clearfix">
  <%= f.input :name %>
  <%= f.input :url %>
  <%= f.input :new_window, label: "Open In New Window?" %>
</div>
<%= bottom_buttons f %>

