<%= content_for :html_head, stylesheet_link_tag('cms/form_layout') %>
<%= f.cms_error_messages %>

<%= f.cms_text_field :name %>
<%= f.cms_text_field :url %>

<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <%= f.label :new_window, "Open In New Window?" %>
    <%= f.check_box :new_window, :tabindex => next_tabindex %>
  </div>
</div>

