<% use_page_title "Edit '#{h(@link.name)}' Link" %>
<%= render partial: 'cms/section_nodes/button_bar' %>
<%= form_for(@link) do |f| %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="buttons">
    <%= publish_button "link" %>
    <%= f.submit("Save", :class => "btn btn-primary") %>
  </div>
<% end %>
