<% page_title t("links.edit.page_title", :link => h(@link.name)) %>
<% content_for :functions do %>
<%= "<h1>#{ @page_title }</h1>" %> 
<%= link_to(span_tag(t "links.edit.list_all"), cms_sitemap_path, :class => "button") %>
<br clear="all"/>
<% end %>
<% form_for([:cms, @link]) do |f| %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="buttons">
    <%= lt_button_wrapper("<button type=\"submit\" name=\"link[publish_on_save]\" value=\"true\" class=\"submit\"><span>#{t "links.edit.save_and_publish"}</span></button>") %>
    <%= lt_button_wrapper(f.submit(t("links.edit.save"), :class => "submit")) %>
  </div>
<% end %>
