<%-
  manuals_index_url = ENV['MANUALSONRAILS_INDEX_URL'] || "index.html"
  show_toc = ENV['MANUALSONRAILS_TOC'] != 'no'
  
  page_title = ""
  if multi_page? && !is_preamble?
    page_title << "#{current_chapter.plain_title} :: "
  end
  page_title << title
  
-%>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title><%=h page_title %></title>
    <style type="text/css">
      body {
        background: #FFFFFF url(images/bg.png) repeat-x scroll 0 0;
        font-family: "Trebuchet MS", Helvetica, Verdana, Arial, sans-serif;
        margin: 0;
        padding: 0;
      }
  
      #page {
        margin: 0 auto;
        text-align: left;
        width: 1000px;
      }
  
      #header {
        height: 110px;
      }
  
      div.top_cap {
        background: transparent url(images/top_cap.png) no-repeat scroll 0 0;
        height: 10px;
      }    
  
      #contentwrap {
        background: transparent url(images/dot.png) repeat scroll 0 0;
        float: left;
        width: 1000px;
      }
      
      div.bottom_cap {
        background: transparent url(images/bottom_cap.png) no-repeat scroll 0 0;
        height: 9px;
      }

      div.top_cap_content {
        background: transparent url(images/top_cap_content.png) no-repeat scroll 0 0;
        height: 5px;
      }
  
      #content {
        background-color: #FFFFFF;
        margin: 0 5px;
      }
  
      div.title {
        padding: 20px;
      }
  
      div.title h1 {
        border-bottom: 3px solid #505358;
        color: #FFFFFF;
        font-size: 24pt;
        font-weight: normal;
        line-height: 1;
        margin: 0 0 10px;
        padding-bottom: 10px;
      }
      
      td.sidebar {
        font-size: 8pt;
        width: 165px;
        padding: 5px;
      }
      
      td.sidebar ol {
        margin-left: 20px;
        padding: 0;
        line-height: 1.5;
      }
      
      td.sidebar ol li {
        margin: 0;
        padding: 0;
      }
      
      td.sidebar ol li ul {
        list-style-type: none;
        padding-left: 10px;
      }
      
      td.guides {
        font-size: 10pt;
        width: 800px;
        padding: 10px;
      }
      
      pre {
        padding: 10px;
        background: #eee;
        border: 1px solid #ccc;
        overflow: auto;
      }
      
    </style>
  </head>
  <body>
    <div id="page">
      <div id="header"<% if !show_toc %> class="notoc"<% end %>>
        <a href="index.html"><img src="images/browsercms_logo.png" alt="BrowserCMS"/></a>
      </div>
      <div id="main"<% if !show_toc %> class="notoc"<% end %>>
        <div class="top_cap"></div>
        <div id="contentwrap">
          <div class="title">
            <h1><%=h page_title %></h1>
          </div>
          <div class="top_cap_content"></div>
          <div id="content">
            <table width="100%" cellpadding="0" cellspacing="0" border="0">
              <tr>                
                <% if show_toc %>
                  <td class="sidebar" valign="top">
                    <h2>Chapters</h2>
                    <%- if multi_page? -%>
                      <a href="<%=h chapters.first.basename %>">Preamble</a>
                    <%- end -%>
                    <ol>
                      <%- if multi_page? -%>
                        <%- for heading in table_of_contents -%>
                          <li>
                            <a href="<%=h heading.basename %>"><%= heading.title_without_numbers %></a>
                            <%- if !heading.children.empty? -%>
                              <ul>
                                <% for h in heading.children %>
                                  <li><a href="<%=h h.basename %><%=h h.anchor %>"><%= h.title_without_numbers %></a></li>
                                <% end %>
                              </ul>
                            <%- end -%>
                          </li>
                        <%- end -%>
                      <%- else -%>
                        <%- for heading in table_of_contents -%>
                          <li>
                            <a href="<%=h heading.anchor %>"><%= heading.title_without_numbers %></a>
                            <%- if !heading.children.empty? -%>
                              <ul>
                                <% for h in heading.children %>
                                  <li><a href="<%=h h.anchor %>"><%= h.title_without_numbers %></a></li>
                                <% end %>
                              </ul>
                            <%- end -%>
                          </li>
                        <%- end -%>
                      <%- end -%>
                    </ol>
                  </td>
                <% end %>
                <td class="guides">
                  <%= contents %>
                  <%- if multi_page? -%>
                    <div id="chapter_navigation">
                      <%- if prev_chapter -%>
                        <div class="left-floaty">
                          <a href="<%=h prev_chapter.basename %>">&laquo; <%= prev_chapter.title %></a>
                        </div>
                      <%- end -%>
                      <%- if next_chapter -%>
                        <div class="right-floaty">
                          <a href="<%=h next_chapter.basename %>"><%= next_chapter.title %> &raquo;</a>
                        </div>
                      <%- end -%>
                    </div>
                  <%- end -%>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <br clear="all"/>
        <div class="bottom_cap"></div>
      </div>
    </div>
  </body>
</html>
