<%
   hidden = defined?(hidden) ? hidden : false
   access_icon = defined?(access_icon) ? access_icon : nil
   published_status_label = defined?(published_status_label) ? published_status_label : nil
   edit_path = defined?(edit_path) ? edit_path : nil
     configure_path = defined?(configure_path) ? configure_path : nil

   editable_class = ""
   case node_type
     when "section"
       editable_class = "non-editable" unless @modifiable_sections.include?(node)
     else
       editable_class = "non-editable" unless defined?(parent) && @modifiable_sections.include?(parent)
   end
   node_type_class = node_type == "section" && node.root? ? 'root' : ''
%>
<div class="section_node <%= node_type %> <%= "movable" if current_user.able_to?(:publish_content) %> span12" >
  <div class="row-fluid<%= ' doubled' if access_icon && hidden %>">
    <%= tag("div", {id: "#{node_type}_#{node.id}", class: "#{node_type_class} #{node_type} node #{editable_class} span8",
                         data: {edit_path: edit_path, configure_path: configure_path, id: node.id, class: node_type}}, true) %>
      <%= icon.html_safe %> <%= h(node.name) %>
    </div>
    <div class="span1">
      <a href="#" class="hidden"><%= status_icon(:hidden) if hidden %></a>
    </div>
    <div class="span1">
      <%= access_icon ? access_icon : raw("&nbsp;") %>
    </div>
    <div class="span1">
        <%= published_status_label if published_status_label %>
    </div>
  </div>
</div>
