<tr id="section_node_<%= node.id %>">
  <td><%= status_icon(page.status) %></td>
  <td style="padding-left: <%= depth*15 %>px">
    <%= action_icon(:page) %>
    <span id="page_<%= page.id %>" class="page node"><%= h(page.name) %></span>
  </td>
</tr>