<% data = {
        edit_path: page_path(page),
        configure_path: edit_page_path(page),
        delete_path: page_path(page),
        node_id: key.id,
        type: 'page'
}
   unless @modifiable_sections.include?(parent)
     data[:editable] = false
   end
   icon_name = page.home? ? "home" : "file"
%>
<li><%= tag "a", {href: "#",
                  class: 'selectable',
                  data: data
},
            true %>
  <%= icon icon_name %>  <%= page.name %>
  <%= protected_content_icon parent %>
  <span class="span1">
    <%= content_tag "span", "H", class: "status phidden" if page.hidden? %>
    <%= content_tag "i", "", class: access_icon %>
    <%= status_tag(page) %>
    </span>
  </a>
</li>