<tr id="section_node_<%= node.id %>" class="<%= css_classes.join(" ") %>" style="display: <%= display %>">
  <td width="980">
    <table width="100%" cellpadding="0" cellspacing="0">
      <tr><td colspan="4" class="drop-before"></td></tr>
      <tr>
        <td id="page_<%= page.id %>" class="page node">
          <%= action_icon(:page, :style => "padding-left: #{depth*15}px") %>
          <%= h(page.name) %>
        </td>
        <td class="sitemap_status">
          <%= status_icon(:hidden) if page.hidden? %>
        </td>
        <td class="sitemap_status">&nbsp;</td>
        <td class="sitemap_published_status">
          <% if page.archived? %>
            <%= status_icon(:archived) %> <div>Archived</div>
          <% else %>
            <%= status_icon(page.status) %> <div><%= page.published? ? "Published" : "Draft" %></div>
          <% end %>
        </td>
      </tr>
      <tr><td colspan="4" class="drop-after"></td></tr>
    </table>    
  </td>
</tr>
