<tr id="section_node_<%= node.id %>"<% if ancestors.empty? %>class="section_node"<% else %>
    class="section_node <%= a = []; ancestors.each_with_index{|sn, i| a << "#{i == ancestors.size-1 ? 'p' : 'a'}#{sn.id}"}; a.join(" ") %>" 
    style="display: none"<% end %>>
  <td class="status"><%= status_icon(page.status) %></td>
  <td class="node" style="padding-left: <%= (depth+1)*15 %>px">
    <table cellpadding="0" cellspacing="0">
      <tr><td class="drop_before"><div></div></td></tr>
      <tr><td class="icon_node"><div>
        <%= action_icon(:page) %>
        <span id="page_<%= page.id %>" class="page node"><%= h(page.name) %></span>
      </div></td></tr>
      <tr><td class="drop_after"><div></div></td></tr>
    </table>    
  </td>
</tr>