<tr id="section_node_<%= node.id %>">
  <td><%= status_icon(section.public? ? :unlocked : :locked) %></td>
  <td style="padding-left: <%= depth*15 %>px">
    <%= action_icon(:folder) %>
    <span id="section_<%= section.id %>" class="section node"><%= h(section.name) %></span>
  </td>
</tr>
<%= render :partial => 'section_node', :collection => section.child_nodes(:order => 'position'), :locals => {:depth => depth+1} %>