<%
   access_icon = node.status
%>
<ul id="section_node_<%= node.node.id %>" class="section_node<%= " rootlet" if root %>" style="display: <%= display ? "''" : "none" %>">
  <li>
    <%= render :partial => "node", :locals => {
            :node => node,
            :node_type => "section",
            :icon => "#{section_icons(node)} #{action_icon(root ? :root_folder : :folder, :class => "folder")}",
            :hidden => node.hidden?,
            :access_icon => status_icon(access_icon),
            :parent => parent
    } %>
    <% node.navigation_children.each do |child| %>
        <%= render :partial => child.partial_for,
                   :locals => {:display => false,
                               :access_icon => access_icon,
                               :node => child,
                               :root => false,
                                :parent => node
                   } %>
    <% end %>

  </li>
</ul>
