<%
   children = child_hash[key].keys
   section_node = key
   access_status = access_status(node, @public_sections)
%>
<ul id="section_node_<%= node.sitemap_node_id %>" class="section_node<%= " rootlet" if root %>" style="display: <%= display ? "''" : "none" %>">
  <li>
    <%= render :partial => "node", :locals => {
            :node => node,
            :node_type => "section",
            :icon => "#{section_icons(section_node, children)} #{action_icon(root ? :root_folder : :folder, :class => "folder")}",
            :hidden => node.hidden?,
            :access_icon => status_icon(access_status),
            :parent => parent
    } %>
    <% children.each do |child_section_node| %>
        <%= render :partial => child_section_node.node.partial_for,
                   :locals => {:display => false,
                               :access_icon => access_status,
                               :node => child_section_node.node,
                               :root => false,
                               :parent => node,
                               :child_hash => child_hash[key],
                               :key => child_section_node
                   } %>
    <% end %>

  </li>
</ul>
