<%= content_for :html_head do %>
  <%= stylesheet_link_tag 'cms/sitemap' %>
  <%= javascript_include_tag 'cms/sitemap' %>  
<% end %>

<% page_title "Sitemap" %>

<%= content_for :functions do %>
  <h1>Sitemap</h1>
  <%= link_to span_tag("Edit Page"), '#', :id => 'edit-button', :class => "button disabled left" %>
  <%= link_to span_tag("Edit Properties"), '#', :id => 'properties-button', :class => "button disabled right" %>
  <%= link_to span_tag("Add Page"), '#', :id => 'add-page-button', :class => "button disabled spacer left" %>
  <%= link_to span_tag("Add Section"), '#', :id => 'add-section-button', :class => "button disabled middle" %>
  <%= link_to span_tag("Add Link"), '#', :id => 'add-link-button', :class => "button disabled right" %>
  <%= delete_button %>
  <br clear="all" />
<% end %>

<div id="sitemap">
  <ul id="root_<%= @section.id %>" class="root" style="padding-left: 0">
    <li>
      <%= render :partial => "node", :locals => {
              :node => @section,
              :node_type => "section",
              :icon => action_icon(:home),
              :display => true
      } %>
    </li>
  </ul>
  <%
     access_status = access_status(@section, @public_sections)
     @sitemap[@root_section_node].keys.each do |child_section_node| %>
      <%= render :partial => child_section_node.node.partial_for,
                 :locals => {:access_icon => access_status,
                             :node => child_section_node.node,
                             :parent => @section,
                             :child_hash => @sitemap[@root_section_node],
                             :key => child_section_node
                 }
      %>
  <% end %>
</div>

