<%= content_for :html_head do %>
    <%= javascript_include_tag 'cms/sitemap' %>
<% end %>

<%= render 'nav_bar' %>

<div id="sitemap" class="row-fluid">
  <ul id="root_<%= @section.id %>" class="root" style="padding-left: 0">
    <li class="row-fluid">
      <%= render :partial => "node", :locals => {
              :node => @section,
              :node_type => "section",
              :icon => action_icon(:home),
              :edit_path => section_path(@section),
              :display => true
      } %>
    </li>
  </ul>
  <%
     access_status = access_status(@section, @public_sections)
     @sitemap[@root_section_node].keys.each do |child_section_node| %>
      <%= render :partial => child_section_node.node.partial_for,
                 :locals => {:access_icon => access_status,
                             :node => child_section_node.node,
                             :parent => @section,
                             :child_hash => @sitemap[@root_section_node],
                             :key => child_section_node
                 }
      %>
  <% end %>
</div>

