<%= content_for :html_head do %>
    <%= stylesheet_link_tag 'cms/sitemap' %>
    <%= javascript_include_tag 'cms/sitemap' %>
<% end %>

<% use_page_title "Sitemap" %>

<%= content_for :button_bar do %>
    <div class="btn-group pull-left">
      <%= link_to "Edit Page", '#', :id => 'edit-button', :class => "btn btn-primary disabled" %>
      <%= link_to "Edit Properties", '#', :id => 'properties-button', :class => "btn btn-primary disabled" %>
    </div>
    <div class="btn-group pull-left">
      <%= link_to "Add Page", '#', :id => 'add-page-button', :class => "btn btn-primary disabled" %>
      <%= link_to "Add Section", '#', :id => 'add-section-button', :class => "btn btn-primary disabled" %>
      <%= link_to "Add Link", '#', :id => 'add-link-button', :class => "btn btn-primary disabled" %>
    </div>
    <%= delete_menu_button(nil, class: ['pull-left']) %>
<% end %>

<div id="sitemap">
  <ul id="root_<%= @section.id %>" class="root" style="padding-left: 0">
    <li>
      <%= render :partial => "node", :locals => {
              :node => @section,
              :node_type => "section",
              :icon => action_icon(:home),
              :edit_path => section_path(@section),
              :display => true
      } %>
    </li>
  </ul>
  <%
     access_status = access_status(@section, @public_sections)
     @sitemap[@root_section_node].keys.each do |child_section_node| %>
      <%= render :partial => child_section_node.node.partial_for,
                 :locals => {:access_icon => access_status,
                             :node => child_section_node.node,
                             :parent => @section,
                             :child_hash => @sitemap[@root_section_node],
                             :key => child_section_node
                 }
      %>
  <% end %>
</div>

