<% content_for :html_head do %>
  <%= stylesheet_link_tag 'cms/sitemap' %>
  <%= javascript_include_tag 'cms/sitemap' %>  
<% end %>

<% page_title t("section_nodes.index.sitemap") %>

<% content_for :functions do %>
  <h1><%=t "section_nodes.index.sitemap" %></h1>
  <%= link_to span_tag(t "section_nodes.index.edit_page"), '#', :id => 'edit-button', :class => "button disabled left" %>
  <%= link_to span_tag(t "section_nodes.index.edit_properties"), '#', :id => 'properties-button', :class => "button disabled right" %>
  <%= link_to span_tag(t "section_nodes.index.add_page"), '#', :id => 'add-page-button', :class => "button disabled spacer left" %>
  <%= link_to span_tag(t "section_nodes.index.add_section"), '#', :id => 'add-section-button', :class => "button disabled middle" %>
  <%= link_to span_tag(t "section_nodes.index.add_link"), '#', :id => 'add-link-button', :class => "button disabled right" %>
  <%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>#{t "section_nodes.index.delete"}"), '#', :id => 'delete-button', :class => "button disabled delete_button" %>
  <br clear="all" />
<% end %>

<div id="sitemap">
  <ul id="root_<%= @section.id %>" class="root" style="padding-left: 0">
    <li>
      <%= render :partial => "node", :locals => {
          :node => @section, 
          :node_type => "section", 
          :icon => action_icon(:home),
          :display => true
        } %>
    </li>
  </ul>
  <%= render :partial => "section_node", :collection => @section.child_nodes.all(:order => 'position'), :locals => {:display => true, :root => true} %>    
</div>
