<% content_for :html_head do %>
  <%= stylesheet_link_tag 'cms/sitemap' %>
  <%= javascript_include_tag 'cms/sitemap' %>  
<% end %>
<% @page_title = "Sitemap" %>

<div id="buttons">
  <%= link_to "Edit", '#', :id => 'edit-button', :class => "disabled" %>
  |
  <%= link_to "Properties", '#', :id => 'properties-button', :class => "disabled" %>
  |
  <%= link_to "Delete", '#', :id => 'delete-button', :class => "disabled" %>
  |
  <%= link_to "Add Page", '#', :id => 'add-page-button', :class => "disabled" %>
  |
  <%= link_to "Add Section", '#', :id => 'add-section-button', :class => "disabled" %>
  |
  <%= link_to "Add Link", '#', :id => 'add-link-button', :class => "disabled" %>
</div>

<table id="sitemap">
  <thead>
    <tr>
      <th class="node">Site Structure</th>
      <th>&nbsp;</th>
      <th class="status">Status</th>
    </th>
    <tr>
      <td class="node">
        <%= action_icon(:home) %>
        <span id="section_<%= @section.id %>" class="root node"><%= h(@section.name) %></span>
      </td>
      <td>&nbsp;</td>
      <td>&nbsp;</td>
    </tr>  
  </thead>
  <tbody>
    <%= render :partial => 'section_node', :collection => @section.child_nodes.all(:order => 'position'), :locals => {:depth => 1, :ancestors => []} %>
  </tbody>
</table>