<% content_for :html_head do %>
<%= stylesheet_link_tag 'cms/sitemap' %>
<%= javascript_include_tag 'cms/sitemap' %>  
<% end %>
<% @page_title = "Sitemap" %>

<% content_for :functions do %>
<%= link_to span_tag("Edit"), '#', :id => 'edit-button', :class => "button disabled" %>
<%= link_to span_tag("Properties"), '#', :id => 'properties-button', :class => "button disabled" %>
<%= link_to span_tag("Delete"), '#', :id => 'delete-button', :class => "button disabled" %>
<%= link_to span_tag("Add Page"), '#', :id => 'add-page-button', :class => "button disabled" %>
<%= link_to span_tag("Add Section"), '#', :id => 'add-section-button', :class => "button disabled" %>
<%= link_to span_tag("Add Link"), '#', :id => 'add-link-button', :class => "button disabled" %>
<br clear="all" />
<% end %>
<table id="sitemap">
  <thead>
    <tr>
      <th class="node">Site Structure</th>
      <th>&nbsp;</th>
      <th class="status">Status</th>
    </tr>
    <tr class="section_node">
      <td class="node">
	<table cellspacing="0" cellpadding="0">
	  <tbody>
	    <tr><td class="drop_before"><div></div></td></tr>
	    <tr><td>
		<%= action_icon(:home) %>
		<span id="section_<%= @section.id %>" class="root node"><%= h(@section.name) %></span>
	    </td></tr>
	    <tr><td class="drop_after"><div></div></td></tr>
	  </tbody>
	</table>
      </td>
      <td class="sitemap_status">&nbsp;</td>
      <td class="sitemap_status">&nbsp;</td>
      <td class="sitemap_published_status">&nbsp;</td>
    </tr>  
  </thead>
  <tbody>
    <%= render :partial => 'section_node', :collection => @section.child_nodes.all(:order => 'position'), :locals => {:depth => 1, :ancestors => []} %>
  </tbody>
</table>
