<div>
  <% releases.group_by(&:year).sort_by(&:first).reverse.each do |year, year_releases| %>
  <!-- <%= year %> -->
    <% year_releases.group_by(&:month).sort_by(&:first).reverse.each do |month, month_releases| %>
    <b class="month"><%= Date::MONTHNAMES[month] %></b>
    <% for release in month_releases.sort_by(&:release_date).reverse %><div class="news-item">
      <% unless release.release_date.blank? %><span class="release-date"><b><%= release.release_date.to_s(:long) %></b></span><br/><% end %>
      <%= link_to "<b>#{h(release.name)}</b>", news_release_details_path(release.details_params) %><br/>
      <% unless release.summary.blank? %><p><%=h release.summary %></p><% end %>
    </div><% end %>
	  <% end %>
	<% end %>
</div>
