<% content_for :html_head do %>
  <% javascript_tag do %>
  $(document).ready(function() {
    $('select.dhtml_selector').selectbox({width: '96px', dhtml_selector: 'html_block_content'});
    $('.tag-list').tagList(tags)
  });
  <% end %>
<% end %>
<%= f.cms_text_field :name %>
<div class="fields text_editor_fields">
  <%= f.label :content, "Content" %>
  <%= f.text_editor :content, :tabindex => next_tabindex %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list :tabindex => next_tabindex %>
</div>
