<div class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields">
  <%= f.label :code %>
  <%= f.text_area :code %>
</div>
<div class="fields">
  <%= f.label :template %>
  <%= f.text_area :template %>
</div>