<% content_for :html_head do %>
  <%= stylesheet_link_tag "cms/taglist" %>
  <%= javascript_include_tag "jquery.dimensions", "jquery.taglist", "/cms/tags" %>
  <% javascript_tag do %>
  $(document).ready(function() {
    $('.tag-list').tagList(tags)
  });
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields text_fields">
  <%= f.label :release_date %>
  <%= f.date_picker :release_date %>
</div>
<div class="fields text_fields">
  <%= f.label :category %>
  <%= f.collection_select :category_id, categories_for('News Release'), :id, :path %>
</div>
<div class="fields text_fields">
  <%= f.label :attachment_file, "File" %>
  <%= f.file_field :attachment_file %>
</div>
<div class="fields text_fields">
  <%= f.label :summary %>
  <%= f.text_area :summary %>
</div>
<div class="fields text_editor_fields">
  <%= f.label :body %>
  <%= f.text_editor :body %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list %>
</div>