<% form_tag cms_login_path, :id => 'login_form' do %>
  <div class="field">
    <%= text_field_tag 'login', @login, :onfocus => "this.select();" %>
  </div>
  <div class="field">
    <%= password_field_tag 'password', @password, :onfocus => "this.select();" %>
  </div>
  <div class="buttons">
    <%= submit_tag "", :style => "display: none;" %>
    <%= link_to_function("<span>LOGIN</span>", "$('#login_form').submit()", :class => "button") %>
  <div id="remember_me_div">
    <%= label_tag 'remember_me', 'Remember me', :class => "inline" %>  
   <%= check_box_tag 'remember_me', '1', @remember_me %>              
  </div>                                                               
  </div>
<% end %>
