<% use_page_title "CMS Login" %>
<% @login ||= "Username" %>
<% @password ||= "Password" %>
<%= form_tag cms.login_path, :id => 'login_form' do %>
  <div class="field">
    <%= text_field_tag 'login', @login, :onfocus => "if(this.value == 'Username') this.value = '';", :onblur => "if(this.value == '') this.value = 'Username';", :tabindex => 1 %>
  </div>
  <div class="field">
    <%= password_field_tag 'password', @password, :onfocus => "if(this.value == 'Password') this.value = '';", :onblur => "if(this.value == '') this.value = 'Password';", :tabindex => 2 %>
  </div>
  <div class="buttons">
    <%= submit_tag("LOGIN") %>
  <div id="remember_me_div">
    <%= label_tag 'remember_me', 'Remember me', :class => "inline" %>
   <%= check_box_tag 'remember_me', '1', @remember_me, :tabindex => 3 %>
   <br clear="all" />
  </div>
  </div>
<% end %>
