- @page_title = "Log In"
%h1= @page_title

.error= flash[:error]

- form_tag cms_session_path do
  .field
    = label_tag 'login'
    = text_field_tag 'login', @login
  .field
    = label_tag 'password'
    = password_field_tag 'password', nil
  .field
    = label_tag 'remember_me', 'Remember me', :class => "inline"
    = check_box_tag 'remember_me', '1', @remember_me
  .buttons
    = submit_tag 'Log in'

