<%= content_for :button_bar do %>
    <span id="edit_page_buttons">
    <%= render "cms/pages/page_buttons" %>
    </span>
    <%# @TODO - Extract this into a partial. I don't really like having this function embedded into the toolbar either. %>
    <%= link_to "Test Modal", "#modal-add-content", :data => { :toggle => 'modal'}, :class=>"btn btn-primary"  %>
    <div id="modal-add-content" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Add Content</h3>
      </div>
      <div class="modal-body">
        Content goes here:
      </div>
      <div class="modal-footer">
        <%= link_to "Never Mind", "#", class: "btn", data: { dismiss: "modal", }, "aria-hidden" => "true" %>
        <%= link_to "Reuse Content Instead?",  "#", class: "btn btn-primary", id: "insert_existing_content" %>
      </div>
    </div>
<% end %>
<%= render "cms/toolbar/editor_toolbar" %>
<%= render "cms/toolbar/mobile_toolbar" %>


