<%= content_for :html_head, stylesheet_link_tag('cms/form_layout') %>
<%= form_for(@page_route) do |f| %>
  <%= f.cms_error_messages %>
  <%= f.cms_drop_down :page_id, Cms::Page.all(:order => "path").map{|p| ["#{p.path} (#{p.name})", p.id]}%>
  <%= f.cms_text_field :name %>
  <%= f.cms_text_field :pattern %>
  <%= f.cms_text_area :code, :style => "height: 200px" %>
  <div class="buttons">
    <%= lt_button_wrapper(f.submit("Save", :class => "submit", :tabindex => next_tabindex)) %>
  </div>
<% end %>
