<% @toolbar_title = page_title "List Page Routes" %>
<%= content_for(:html_head) do %>
  <%= javascript_tag do %>
    jQuery(function($){
      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1];
        var id = match[2];
        $('table.data tbody tr').removeClass('selected');
        $(this).addClass('selected');
        $('#edit_button').removeClass('disabled').attr('href', '/cms/page_routes/'+id+'/edit');
        $('#delete_button, #view_button').removeClass('disabled').attr('href', '/cms/page_routes/'+id)
      })
    })
  <% end %>
<% end %>

<%= content_for :functions do %>
  <%= add_button new_page_route_path %>
  <%= edit_button %>
  <%= delete_button :title => "Are you sure you want to delete this Page Route?" %>
  <%= link_to(span_tag("View"), "#", :id => 'view_button', :class => "button") %>
  <%= link_to(span_tag("View Rails Routes"), routes_path, :class => "button") %>
<% end %>

<div class="roundedcorners">
  <table class="data">
    <tr>
      <th class="first" colspan="2"><div class="dividers">Name</div></th>
      <th colspan="2" class="last"><div class="dividers">Pattern</div></th>
    </tr>
    <% @page_routes.each do |page_route| %>
      <tr id="page_route_<%= page_route.id %>">
        <td class="first"></td>
        <td><%=h page_route.name %></td>
        <td><%=h page_route.pattern %></td>
        <td class="last"></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="4" class="buffer"></td>
    </tr>

  </table>
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
</div>
<% if @page_routes.total_pages > 1 %>
  <%= render_pagination @page_routes, Cms::PageRoute %>
<% end %>
