<%= content_for :html_head do %>
  <%= javascript_tag do %>
  jQuery(function($) {
    $('select.<%= object_name %>_<%= method %>_dhtml_selector').selectbox({width: '96px', dhtml_selector: '<%= object_name %>_<%= method %>'});
  })
  <% end %>
<% end %>
<div class="fields text_editor_fields">
  <% if cms_options[:label] %>
    <%= f.label method, cms_options[:label] %>
  <% else %>
    <%= f.label method %>
  <% end %>
  <%= drop_down_tag :dhtml_selector, options_for_select([["Rich Text", ""],["Simple Text", "disabled"]], cookies[:editorEnabled] == 'true' ? "" : "disabled"), :class => "#{object_name}_#{method}_dhtml_selector", :onchange => "toggleEditor('#{id}', this)" %>
  <div class="editor">
    <%= f.text_editor method, options %>
  </div>
  <%= f.cms_instructions cms_options[:instructions] %>
</div>
