<% content_for :html_head do %>
  <% javascript_tag do %>
    jQuery(function($) {
      $('#mock_<%= object_name %>_<%= method %>')
        .focus(function() {this.blur()})
        .mousedown(function() {this.blur()})
      $('#<%= object_name %>_<%= method %>').change(function() {
          $('#mock_<%= object_name %>_<%= method %>')
            .attr('value', $(this).attr('value'))
      })
    })
  <% end %>
<% end %>

<div class="fields file_fields">
  <% if cms_options[:label] %>
    <%= f.label method, cms_options[:label] %>
  <% else %>
    <%= f.label method %>
  <% end %>
  <div id="<%= object_name %>_<%= method %>_div" class="file_inputs">
    <%= f.file_field method, {:size => 1, :class=>"file"}.merge(options) %>
    <div class="fakefile">
        <input type="text" name="temp" class="mock" id="mock_<%= object_name %>_<%= method %>" />
        <%= image_tag("cms/browse.gif") %>
    </div>
  </div>
  <% if cms_options[:instructions] %>
    <div class="instructions"><%=h cms_options[:instructions] %></div>
    <br clear="all"/>  
  <% end %>
</div>
