<%#
  # Renders a single file field for a given attachment.
  # method - The field name
  #
  # This loops over the attachments array for a given block in order to create a nested_hash. This allows multiple attachments to be created at once
  # However, since content_types can have multiple attachments, we only want to render once for eatch attachment, regardless of how many times
  # cms_file_field gets called.
%>
<%= f.fields_for :attachments do |a| %>
    <% if a.object.attachment_name == method.to_s %>
        <%= a.hidden_field :attachment_name, :value => method.to_s %>
        <div class="fields file_fields">
            <%= a.cms_label :data, cms_options[:label] %>
            <div id="<%= object_name %>_<%= method %>_div" class="file_inputs">
                <%= a.file_field :data, options.merge('data-purpose'=>"cms_file_field") %>
            </div>
            <%= a.cms_instructions cms_options[:instructions] %>
        </div>
        <% if options[:edit_section] %>
            <%= render :partial=>'cms/file_blocks/section_selector' %>
            <%= a.cms_drop_down :section_id, @sections.map {|s| [s.full_path, s.id]}, {:label => "Section"}, {'data-purpose'=>"section_selector"} %>
        <% end %>
        <% if options[:edit_path] %>
            <% suggest_file_path =  model_object.new_record? ? "suggest_file_path" : "keep_existing_path" %>
            <%= a.cms_text_field :data_file_path, :label => "Path", :class=>suggest_file_path  %>
        <% end %>
    <% end %>
<% end %>
