<%= content_for :html_head do %>
  <%= javascript_tag do %>
  jQuery(function($) {
    $('.tag-list').tagList(tags)
  })
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :tag_list, (cms_options[:label] || "Tags") %>
  <%= f.tag_list options %>
  <% if cms_options[:instructions] %>
    <div class="instructions"><%=h cms_options[:instructions] %></div>
    <br clear="all"/>  
  <% end %>
</div>