<div class="fields file_fields">
  <%= f.cms_label method, cms_options[:label] %>
  <div id="<%= object_name %>_<%= method %>_div" class="file_inputs">
    <%= f.file_field method, options %>
  </div>
  <%= f.cms_instructions cms_options[:instructions] %>
</div>
