%p= link_to "#{icon(:add)} New Portlet", new_cms_portlet_path

%table#blocks
  %tr
    %th Name
    %th Type
    %th Updated
    %th Uses
    %th View
    %th Edit
    %th Delete
  - @portlets.each do |portlet|
    %tr
      %td= portlet.name
      %td= portlet.portlet_type.name
      %td= portlet.updated_at.strftime("%m/%d/%y")
      %td.uses= Connector.for_block(portlet).count
      %td.view= link_to icon(:view), cms_portlet_path(portlet)
      %td.edit= link_to icon(:edit), edit_cms_portlet_path(portlet)
      %td.delete= link_to icon(:delete), cms_portlet_path(portlet), :method => :delete, :confirm => "Are you sure you want to delete '#{portlet.name}'?"