<% # Handles both looking at a single block and a collection of blocks.
   unless @block
    @block = content_type.model_class.new
   end
%>
<%#
 Enable/Disable publish button for
    - editting permission
    - If block is already published.
%>
<span class="btn-group pull-left">
  <%= publish_menu_button(@block) %>
  <%= view_content_menu_button(@block) %>
  <%= edit_content_menu_button(@block) %>
</span>
<%= versions_menu_button(@block) %>
<%= delete_menu_button(@block) %>
