<% use_page_title "Content Library / Edit #{content_type.display_name}" %>
<% @toolbar_title = "Edit #{content_type.display_name} '#{@block.name}'".html_safe %>
<%= content_for :button_bar, render('buttonbar') %>

<% if @block.respond_to?(:deleted) && @block.deleted %>
  <div class="header">This <%= @block.class.name %> has been deleted.</div>
<% else %>
<%= content_block_form_for(@block, :url => block_path(@block), :html => {:multipart => true}) do |f| %>
  <%= f.error_notification %>
  <%= render :partial => 'cms/shared/exception', :object => @exception if @exception %>
  <% if @other_version %>
    <%= render :partial => 'cms/shared/version_conflict_error', :locals => {:other_version => @other_version, :your_version => @block} %>
  <% end %>  
  <%= render :partial => 'hidden_fields', :locals => { :f => f } %>
  <%= render :partial => block_form, :locals => {:f => f} %>
  <% if @other_version %>
    <%= render :partial => "cms/shared/version_conflict_diff", :locals => {:other_version => @other_version, :your_version => @block} %>
  <% end %>
  <%= render partial: 'save_buttons', locals: {block: @block, f: f} %>
<% end %>
<% end %>
