<% 
   root = Section.root.first
   root.full_path = root.name
   @sections = []
   @sections << root
   @sections += root.all_children_with_name
   @sections.each {|s| s.full_path = "/" + s.full_path unless s == root }
  @block.attachment_file_name = @block.attachment.file_name if @block.attachment_file_name.blank? && !@block.new_record?
%>
<% content_for :html_head do %>
  <%= stylesheet_link_tag "cms/taglist" %>
  <%= javascript_include_tag "jquery.dimensions", "jquery.taglist", "/cms/tags" %>
  <% javascript_tag do %>
  $(document).ready(function() {
    $('.tag-list').tagList(tags)
    $('#file_block_attachment_section_id').selectbox({debug:true, width: '210px'});
  });
  jQuery(function($){
     $('#file_block_attachment_file').change(function(){$('#mock_file_block_attachment_file').attr('value', $(this).attr('value'))});
  });

  <% end %>
  <% if @block.new_record? %>
    <script type="text/javascript">
    jQuery(function($){
      var sectionIdPathMap = <%= @sections.inject({}){|map, sec| map[sec.id.to_s] = sec.path.sub(/\/$/,''); map}.to_json %>
      $('#file_block_attachment_file, #file_block_attachment_section_id').change(function(){ 
        $('#file_block_attachment_file_name').val(sectionIdPathMap[$('#file_block_attachment_section_id').val()]+'/'+$('#file_block_attachment_file').val()) 
      }) 
    })
    </script>
  <% end %>
<% end %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields file_fields">
  <%= f.label :attachment_file %>
  <input type="text" name="temp" class="mock" id="mock_file_block_attachment_file" />
  <%= image_tag("cms/browse.gif") %>
  <input id="file_block_attachment_file" name="file_block[attachment_file]" value="/Users/pbarry/blog.txt" size="30" type="file" />
</div>
<div class="fields text_fields">
  <%= f.label :attachment_section_id, "Section" %>
  <%= f.collection_select :attachment_section_id, @sections, :id, :full_path %>
</div>
<div class="fields text_fields">
  <%= f.label :attachment_file_name %>
  <%= f.text_field :attachment_file_name %>
</div>
<div class="fields text_fields">
  <%= f.label :tag_list, "Tags" %>
  <%= f.tag_list %>
</div>
