<% @sections = Section.all(:order => "name") %>
<% content_for :html_head do %>
  <% if @block.new_record? %>
    <script type="text/javascript">
    jQuery(function($){
      var sectionIdPathMap = <%= @sections.inject({}){|map, sec| map[sec.id.to_s] = sec.path.sub(/\/$/,''); map}.to_json %>
      $('#file_block_file, #file_block_section_id').change(function(){ 
        $('#file_block_file_name').val(sectionIdPathMap[$('#file_block_section_id').val()]+'/'+$('#file_block_file').val()) 
      }) 
    })
    </script>
  <% end %>
<% end %>
<div class="fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields">
  <%= f.label :file %>
  <%= f.file_field :file %>
</div>
<div class="fields">
  <%= f.label :section_id, "Section" %>
  <%= f.collection_select :section_id, @sections, :id, :name %>
</div>
<div class="fields">
  <%= f.label :file_name %>
  <%= f.text_field :file_name %>
</div>
