<% use_page_title "Assign Page '#{@page.name}'" %>

<%= content_for :button_bar do %>
    <%= menu_button "Back to Page", @page.path, pull: 'left' %>
<% end %>

<%= form_for(@task, :url => @task.new_record? ? page_tasks_path(@page) : page_task_path(@page, @task)) do |f| %>

  <%= f.cms_error_messages %>
  <div class="fields text_fields">
    <%= f.label :assigned_to_id, "Assign To" %>
    <%= f.collection_select :assigned_to_id, Cms::User.active.able_to_edit_or_publish_content.all(:order => "first_name, last_name, login"), :id, :full_name_with_login, :include_blank => true, :tabindex => next_tabindex %>
  </div>
  
  <div class="fields text_fields">
      <%= f.label :due_date %>
      <%= f.date_picker :due_date %>
      <div class="muted help-block">Leave blank for no due date</div><br clear="all" />
  </div>  
  
  <div class="fields text_editor_fields">
    <%= f.label :comment %>
    <br/>
    <%= f.text_area :comment, :tabindex => next_tabindex %>
  </div>
  <%= f.submit("Save", :class => "submit btn", :tabindex => next_tabindex) %>

<% end %>

