<%= content_for :html_head, stylesheet_link_tag('cms/form_layout') %>
<%= content_for :button_bar, menu_button("Back to Redirects", redirects_path) %>

<%= form_for(@redirect) do |f| %>
  <%= f.cms_error_messages %>
  <div class="fields text_fields">
    <%= f.label :from_path, "From" %>
    <%= f.text_field :from_path, :size => 50 %>
  </div>
  <div class="fields text_fields">
    <%= f.label :to_path, "To" %>
    <%= f.text_field :to_path, :size => 50 %>
  </div>
  <%= f.submit("Save", :class => "submit btn", :tabindex => next_tabindex) %>
<% end %>
