<% @page_title = @toolbar_title = "List Redirects" %>
<% content_for(:html_head) do %>
  <% javascript_tag do %>
    jQuery(function($){
      $('#blocks tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1];
        var id = match[2];
        $('#blocks tbody tr').removeClass('selected');
        $(this).addClass('selected');
        $('#edit_button').removeClass('disabled').attr('href', '/cms/redirects/edit/'+id);
        $('#delete_button').removeClass('disabled').attr('href', '/cms/redirects/destroy/'+id)
      })
    })
  <% end %>
  <style type="text/css">
    #blocks th {
    width: 50%;
    }
  </style>
<% end %>
<% content_for :functions do %>
<%= link_to(span_tag("Add"), cms_path(:redirects , :new), :class => "button") %>
<%= link_to(span_tag("Edit"), '#', :id => 'edit_button', :class => "button disabled") %>
<%= link_to span_tag("delete"), "#", :id => "delete_button", :class => "button disabled http_delete", :onclick => "return confirm('Are you sure you want to delete this redirect?')" %>
<% end %>
<table id="blocks">
  <thead>
  <tr>
    <th>From</th>
    <th class="last">To</th>
  </tr>
  </thead>
  <% @redirects.each do |redirect| %>
    <tr id="redirect_<%= redirect.id %>">
      <td><%=h redirect.from_path %></td>
      <td><%=h redirect.to_path %></td>
    </tr>
  <% end %>
</table>
