<% @page_title = @toolbar_title = t("redirects.index.page_title") %>
<% content_for(:html_head) do %>
  <% javascript_tag do %>
    jQuery(function($){
      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1];
        var id = match[2];
        $('table.data tbody tr').removeClass('selected');
        $(this).addClass('selected');
        $('#edit_button').removeClass('disabled').attr('href', '/cms/redirects/'+id+'/edit');
        $('#delete_button').removeClass('disabled').attr('href', '/cms/redirects/'+id)
      })
    })
  <% end %>
<% end %>
<% content_for :functions do %>
<%= link_to(span_tag("&nbsp;#{t "redirects.index.add"}&nbsp;"), new_cms_redirect_path, :class => "button") %>
<%= link_to(span_tag("&nbsp;#{t "redirects.index.edit"}&nbsp;"), '#', :id => 'edit_button', :class => "button disabled") %>
<%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>#{t "redirects.index.delete"}"), "#", :id => "delete_button", :class => "button disabled http_delete confirm_with_title", :title => t("redirects.index.confirm") %>
<% end %>
<div class="roundedcorners">
<table class="data">
  <thead>
  <tr>
    <th class="first" colspan="2" style="width: 48%;"><div class="dividers"><%= t "redirects.index.from" %></div></th>
    <th class="last" colspan="2"><div class="dividers"><%= t "redirects.index.to" %></div></th>
  </tr>
  </thead>
  <% @redirects.each do |redirect| %>
    <tr id="redirect_<%= redirect.id %>">
      <td class="first"></td>
      <td><div class="dividers"><%=h redirect.from_path %></div></td>
      <td><%=h redirect.to_path %></td>
      <td class="last"></td>
    </tr>
  <% end %>
    <tr>
      <td colspan="4" class="buffer"></td>
    </tr>
</table>
<div class="tl"></div>
<div class="tr"></div>
<div class="bl"></div>
<div class="br"></div>
</div>
