<% content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
  <style type="text/css">
    .checkbox_group .checkboxes .instructions {
      padding-bottom: 10px;
    }
  </style>
  <% javascript_tag do %>
    jQuery(function($) {
      $('#group_group_type_id').selectbox();
    });
  <% end %>
<% end %>

<% content_for :functions do %> 
  <%= link_to(span_tag(t "groups.form.list_all"), cms_groups_path, 
    :id => "list_all_button", 
    :class => "button") %>
<% end %>

<% form_for [:cms, @group] do |f| %>

  <%= f.error_messages %>
  <div class="fields text_fields">
    <%= f.label :name, t("groups.form.group_name") %>
    <%= f.text_field :name %>
  </div>

  <% unless @group.guest? %>
    <div class="fields select_fields">
    	<%= f.label :group_type_id, t("groups.form.type_of_user") %>
    	<div><%= f.select :group_type_id, GroupType.non_guest.map { |g| [g.name, g.id] } %></div>
    	<div class="instructions"><%= t "groups.form.instructions" %></div>
  	<br clear="all" />
    </div>
  <% end %>

  <%= render :partial => 'permissions' %>
  <%= render :partial => 'sections' %>

  <div class="buttons">
    <%= lt_button_wrapper(f.submit(t("groups.form.save"), :class => "submit")) %>
  </div>

<% end %>