<%= render 'toolbar' %>
<%= form_for @group do |f| %>
  <%= f.cms_error_messages %>
  <div class="row-fluid">
    <%= f.label :name, "Group Name" %>
    <%= f.text_field :name %>
  </div>

  <% unless @group.guest? %>
    <%= f.label :group_type_id, "Type of User" %>
    <div class="row-fluid">
      <%= f.select :group_type_id, Cms::GroupType.non_guest.map { |g| [g.name, g.id] } %>
      <div class="muted help-block">What kind of user does this group represent?</div>
    </div>
  <% end %>

  <%= render :partial => 'permissions' %>
  <%= render :partial => 'sections' %>

  <%= f.submit("Save", :class => "submit btn btn-primary") %>

<% end %>
