<table>
  <tr>
    <th colspan="3">
      What kind of tasks should group members be allowed to do?
      <%= hidden_field_tag "group[permission_ids][]", "" %>  
    </th>
	</tr>	
	<tr>
	  <td>&nbsp;</td>
		<td>Permission</td>
		<td>Description</td>
	</tr>
	<% Permission.all(:order => "name").each do |p|%><tr>
		<td><%= check_box_tag "group[permission_ids][]", p.id, @group.permissions.include?(p), :id => "permission_ids_#{p.id}", :class => "permission_ids" %></td>
		<td><%=h p.full_name %></td>
		<td><%=h p.description %></td>
	</tr><% end %>
	<tr>
		<td colspan="3">
			<%= link_to_function "Check All", "$$('input.permission_ids').each(function(box){ box.checked = true })" %>
			<%= link_to_function "Check None", "$$('input.permission_ids').each(function(box){ box.checked = false })" %>
		</td>
	</tr>
</table>