<div class="row-fluid">
    <label>Section Permissions</label>
    <%= hidden_field_tag "group[section_ids][]", "" %>
</div>
<div class="row-fluid">
    <% Cms::Section.all(:order => "path").each do |s|%>
        <%= check_box_tag "group[section_ids][]", s.id, @group.sections.include?(s), :id => "section_ids_#{s.id}", :class => "section_ids" %>
        <label for= "section_ids_<%= s.id %>" style="width: 400px; padding-top: 0; #padding-top: 4px;"><%=h s.name %>(Path: <%=h s.path %>)</label>
    <% end %>
</div>
<div class="row-fluid">
  <div class="muted help-block">What sections should group members be allowed to <span id="section-action"><%= @group.cms_access? ? 'edit' : 'view' %></span>?</div>
  <%= check_uncheck_tag 'input.section_ids' %>
</div>
