<% @page_title = "Administration / Group Browser" %>
<h1 class="page_title"><%= @page_title %></h1>

<table>
  <tr>
    <th>Group</th>
		<th>Permissions</th>
    <th>Actions</th>
  </tr>
  <% section_count = Section.count %>
  <% Group.all(:order => "name").each do |g| %>
  <tr>
    <td><%=h g.name %></td>
    <td>
			<% g.permissions.each do |p| %>
			- <%= p.full_name %> <br />
			<% end %>
			- <%= g.cms_access? ? "Edit" : "View" %>
			<%= g.sections.count == section_count ? "All Sections" : "#{g.sections.count} of #{section_count} Sections" %>
		</td>
		<td>[<%= link_to "Edit", cms_path(g, :edit) %>]</td>
  </tr>
  <% end %>
</table>

<fieldset>
  <legend>Add</legend>
  <% @group ||= Group.new %>
  <% form_for @group, :url => cms_path(:groups, :create) do |f| %>
	<%= hidden_field_tag "on_fail_action", "index" %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</fieldset>
