<% @page_title = "Administration / Group Browser" %>
<h2><%= @page_title %></h2>

<table>
  <tr>
    <th>Group</th>
		<th>Permissions</th>
    <th>Actions</th>
  </tr>
  <% Group.all(:order => "name").each do |g| %>
  <tr>
    <td><%=h g.name %></td>
    <td>
			<% g.permissions.each do |p| %>
			- <%= p.full_name %> <br />
			<% end %>
		</td>
		<td>[<%= link_to "Edit", cms_path(g, :edit) %>]</td>
  </tr>
  <% end %>
</table>

<fieldset>
  <legend>Add</legend>
  <% @group ||= Group.new %>
  <% form_for @group, :url => cms_path(:groups, :create) do |f| %>
	<%= hidden_field_tag "on_fail_action", "index" %>
	<%= render :partial => 'form', :locals => {:f => f} %>
  <% end %>
</fieldset>