<% @page_title = "Administration / Group Browser" %>
<% @toolbar_title = "List Groups" %>
<%= content_for :functions, link_to(span_tag("Add Group"), url_for(:controller => "groups", :action => "new"), :id => "new_group_button", :class => "button") %>
<table id="blocks">
  <thead>
  <tr>
    <th>Group</th>
		<th class="last">Permissions</th>
  </tr>
  </thead>
  <% section_count = Section.count %>
  <% @groups.each do |g| %>
  <tr>
    <td><%= link_to h(g.name), cms_path(g, :edit) %></td>
    <td>
			<% g.permissions.each do |p| %>
			- <%= p.full_name %> <br />
			<% end %>
			- <%= g.cms_access? ? "Edit" : "View" %>
			<%= g.sections.count >= section_count ? "All Sections" : "#{g.sections.count} of #{section_count} Sections" %>
		</td>
  </tr>
  <% end %>
</table>
