<% @page_title = "Dashboard" %>
<% content_for :html_head do %>
<%= stylesheet_link_tag('cms/dashboard') %>
<%= stylesheet_link_tag('cms/form_layout') %>
<% end %>
<div class="dashboard_unit">
<h2>Page Drafts</h2>

  <% form_tag cms_path(:pages, :publish) do %>
    <table id="draft">
      <tr>
        <th>&nbsp;</th>
        <th>Name</th>
        <th>User</th>
	<th class="last">Date</th>
      </tr>

    <% if @unpublished_pages.empty? %>
      <tr><td colspan="3">All pages are published</td></tr>
    <% else %>  
      <% @unpublished_pages.each do |page| %>
        <tr>
          <td class="select"><%= check_box_tag "page_ids[]", page.id, false, :id => "publish_page_#{page.id}" %></td>
          <td class="name"><%= link_to h(page.name), page.path %></td>
          <td class="updated_by"><%=h page.updated_by.login %></td>
          <td class="updated_at"><%= page.updated_at.strftime("%m/%d/%y %l:%M %p") %></td>
        </tr>
      <% end %>
    <% end %>
    </table>
    <%= lt_button_wrapper(submit_tag("Publish Selected", :class => "submit")) %>
<% end %>
</div>

