<%= error_message_on :user, :password %>

<% if flash_scope = flash[:reset_password] -%>
  <% if flash_scope[:error] -%>
    <span class="reset-password-error"><%= flash_scope[:error] %></span>
  <% end -%>
  <% if flash_scope[:notice] -%>
    <span class="reset-password-notice"><%= flash_scope[:notice] %></span>
  <% end -%>
<% end -%>

<% form_tag do %>
  <% if params[:token] -%>
  <%= hidden_field_tag "token", params[:token] %>
  <% end -%>

  <label for="password"><%= t "views.portlets.reset_password.render.new_password" %></label>
  <%= password_field_tag "password" %><br>

  <label for="password_confirmation"><%= t "views.portlets.reset_password.render.confirm_new_password" %></label>
  <%= password_field_tag "password_confirmation" %><br>

  <%= submit_tag t("views.portlets.reset_password.render.reset_password") %>
<% end %>
