<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<% @block.success_url = "/" if @block.success_url.blank? %>
<div class="fields text_fields">
  <%= f.label :success_url %>
  <%= f.text_field :success_url %>
</div>
<% @block.failure_url = "/" if @block.failure_url.blank? %>
<div class="fields text_fields">
  <%= f.label :failure_url %>
  <%= f.text_field :failure_url %>
</div>
<% @block.template = LoginPortlet.default_template if @block.template.blank? %>
<div class="fields text_editor_fields">
  <%= f.label :template %><br />
  <%= f.text_area :template %>
</div>
