<div class="email-page-portlet">
  <%= form_for @email_message, :url => cms.portlet_handler_path(@portlet, "deliver"), :method=>'post' do |f| %>
    <%= hidden_field_tag :email_page_portlet_url, @email_page_portlet_url %>
    <%= f.cms_error_messages %>
    <p>
      <%= f.label :recipients %>
      <%= f.text_field :recipients %>
    </p>
    <p>
      <%= f.label :body %>
      <%= f.text_area :body, :size => "50x3" %>
    </p>
    <p>
      <%= submit_tag "Send Email" %>
    </p>
  <% end %>
</div>