<% form_for(@portlet_type, :url => cms_path(@portlet_type, :create_or_update)) do |f| %>
  <%= f.error_messages %>
  <div class="fields">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="fields">
    <%= f.label :form %>
    <%= f.text_area :form, :size => "80x20" %>
  </div>
  <div class="fields">
    <%= f.label :code %>
    <%= f.text_area :code, :size => "80x20" %>
  </div>
  <div class="fields">
    <%= f.label :template %>
    <%= f.text_area :template, :size => "80x20" %>
  </div>
  <div class="buttons">
    <%= f.submit "Save" %>
  </div>
<% end %>