%p= link_to "#{icon(:add)} New Portlet Type", new_cms_portlet_type_path

%table#blocks
  %tr
    %th Name
    %th Updated
    %th Uses
    %th View
    %th Edit
    %th Delete
  - @portlet_types.each do |portlet_type|
    %tr
      %td= portlet_type.name
      %td= portlet_type.updated_at.strftime("%m/%d/%y")
      %td.uses= portlet_type.portlets.count
      %td.view= link_to icon(:view), [:cms, portlet_type]
      %td.edit= link_to icon(:edit), edit_cms_portlet_type_path(portlet_type)
      %td.delete= link_to icon(:delete), cms_portlet_type_path(portlet_type), :method => :delete, :confirm => "Are you sure you want to delete the  '#{portlet_type.name}' Portlet Type?"