<h2>Users</h2>
<ul>
  <li><%= link_to "Users", cms_path(:users) %></li>
  <li><%= link_to "Groups", cms_path(:groups) %></li>
</ul>
<h2>Tools</h2>
<ul>  
  <li><%= link_to "Page Templates", cms_path(:page_templates) %></li> 
  <li><%= link_to "Redirects", cms_path(:redirects) %></li> 
  <li><%= link_to "Portlet Types", cms_path(:portlet_types) %></li>
</ul>