<div class="first">
  <h3>Users</h3>
  <ul>
    <li<%= ' class="open"' if @menu_section == 'users' %>><%= link_to "Users", cms_path(:users) %></li>
    <li<%= ' class="open"' if @menu_section == 'groups' %>><%= link_to "Groups", cms_path(:groups) %></li>
  </ul>
</div>
<div class="bottom_cap bottom_pad"></div>
<div class="top_cap"></div>
<div>
  <h3>Tools</h3>
  <ul>  
    <li<%= ' class="open"' if @menu_section == 'page_templates' %>><%= link_to "Page Templates", cms_path(:page_templates) %></li> 
    <li<%= ' class="open"' if @menu_section == 'redirects' %>><%= link_to "Redirects", cms_path(:redirects) %></li>
    <li<%= ' class="open"' if @menu_section == 'caching' %>><%= link_to "Page Caching", cms_path(:cache) %></li>
  </ul>
</div>
<div class="bottom_cap"></div>
