<h3>Users</h3>
<ul>
  <li><%= link_to "Users", cms_path(:users) %></li>
  <li><%= link_to "Groups", cms_path(:groups) %></li>
</ul>
<br />
<h3>Tools</h3>
<ul>  
  <li><%= link_to "Page Templates", cms_path(:page_templates) %></li> 
  <li><%= link_to "Redirects", cms_path(:redirects) %></li>
  <li><%= link_to "Page Caching", cms_path(:cache) %></li>
</ul>