<%
	# Using cms. prefix on the links here so this view can be used by models from engines.
%>
<div class="first">
  <h3>Users</h3>
  <ul>
    <li<%= ' class="open"' if @menu_section == 'users' %>><%= link_to "Users", cms.users_path %></li>
    <li<%= ' class="open"' if @menu_section == 'groups' %>><%= link_to "Groups", cms.groups_path %></li>
  </ul>
</div>
<div class="bottom_cap bottom_pad"></div>

<div class="top_cap"></div>
<div>
  <h3>Templates</h3>
  <ul>  
    <li<%= ' class="open"' if @menu_section == 'page_partials' %>><%= link_to "Page Partials", cms.page_partials_path %></li>
    <li<%= ' class="open"' if @menu_section == 'page_templates' %>><%= link_to "Page Templates", cms.page_templates_path %></li>
    <li<%= ' class="open"' if @menu_section == 'page_routes' %>><%= link_to "Page Routes", cms.page_routes_path %></li>
  </ul>
</div>
<div class="bottom_cap bottom_pad"></div>

<div class="top_cap"></div>
<div>
  <h3>Tools</h3>
  <ul>  
    <li<%= ' class="open"' if @menu_section == 'caching' %>><%= link_to "Page Caching", cms.cache_path %></li>
    <li<%= ' class="open"' if @menu_section == 'redirects' %>><%= link_to "Redirects", cms.redirects_path %></li>
    <li<%= ' class="open"' if @menu_section == 'email_messages' %>><%= link_to "Email Messages", cms.email_messages_path %></li>
	<% Rails.application.config.cms.tools_menu.each do |menu_item| %>
	<li <%= ' class="open"' if @menu_section == menu_item[:menu_section] %>><%= link_to(menu_item[:name], self.send(menu_item[:engine]).send(menu_item[:route_name])) %></li>
	<% end %>
  </ul>
</div>
<div class="bottom_cap"></div>
