<div id="connector_<%= connector.id %>" class="cms_edit_connectable" style="display: block; height: auto; position: relative; border: 1px solid #999; margin: 1px -6px 0 -6px; padding: 25px 5px 0 5px;  background: url(<%= asset_path "cms/containers/beta.png"%>) repeat-x 0 0;">
  <div style="display: block; width: 100%; position: absolute; top: 5px; left: 5px; height: 30px;">
    <%= link_to image_tag("cms/pages/show_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms_connectable_path(connectable), :title => "View this content (#{connectable.name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
    <%= link_to image_tag("cms/pages/edit_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), edit_cms_connectable_path(connectable, :_redirect_to => @page.path), :title => "Edit this content (#{connectable.name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
    <% if @page.connectors.for_page_version(@page.version).in_container(connector.container).count > 1 %>
      <%= link_to image_tag("cms/pages/up_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms.move_up_connector_path(connector), :class => "http_put", :title => "Move this content up (#{connectable.name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
      <%= link_to image_tag("cms/pages/down_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms.move_down_connector_path(connector), :class => "http_put", :title => "Move this content down (#{connectable.name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
    <% else %>
      <%= image_tag("cms/pages/up_connectable_disabled.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;") %>
      <%= image_tag("cms/pages/down_connectable_disabled.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;") %>
    <% end %>
    <%= link_to image_tag("cms/pages/delete_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms.connector_path(connector, :_redirect_to => @page.path), :class => "confirm_with_title http_delete", :title => "Remove this content from page (#{connectable.name}).  It will remain available in the Content Library." , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
    <%= status_icon connector.status,
          :class => "published_status", 
          :title => connector.live? ? "This content is published and can be seen by site visitors." : "This content is a draft and won't be seen by site visitors until this page is published." , 
          :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: 0; position: absolute; top: -1px; right: 10px;" %>
  </div>
    <%= render_connectable connectable %>
</div>
<%= content_for :html_head do %>
    <%= javascript_include_tag 'cms/core_library' %>
    <% if  @authenticity_token_loaded.nil? && protect_against_forgery? %><script type="text/javascript">
      jQuery(function($){
        $.cms.authenticity_token = '<%= form_authenticity_token %>'
      })
    </script><% end %><% @authenticity_token_loaded = true %>
<% end %>
