<div class="edit_block">
  <div class="header <%= connector.content_block.live? ? 'live' : 'draft' %>">
    <%= connector.content_block.name %>
    <div class="actions">
      <%= link_to status_icon(connector.content_block.status), cms_path(connector.content_block)  %>
      <%= link_to action_icon(:view), cms_path(connector.content_block) %>
      <%= link_to action_icon(:edit), cms_path(connector.content_block, :edit, :_redirect_to => @page.path) %>
      <% if @page.connectors.for_container(connector.container).count > 1 %>
        <%= link_to action_icon(:up), cms_path(connector, :move_up), :method => :put %>
        <%= link_to action_icon(:down), cms_path(connector, :move_down), :method => :put %>
      <% end %>
      <% if connector.content_block.supports_versioning? %>
        <%= link_to_function action_icon(:history, :alt => "View Revision History"), "$('block_revision_history_#{connector.content_block_id}').toggle()", :title => "View Revision History" %>
        <div id="block_revision_history_<%= connector.content_block_id %>" class="block_revision_history" style="display: none">
          <h3>Revision History for <%=h connector.content_block.name %></h3>
          <ul><% connector.content_block.versions.all(:order => "version desc").each do |r| %>
            <li onmouseover="$(this).addClassName('hover')" onmouseout="$(this).removeClassName('hover')">v<%= r.version %>: <%=h r.revision_comment %> by <strong><%=h r.updated_by.login %></strong> at <em><%= r.updated_at.strftime("%b %e, %Y %l:%M %p") %></em></li>
          <% end %></ul>
        </div>
      <% end %>
      <%= link_to action_icon(:delete), cms_path(connector, :destroy, :_redirect_to => @page.path), :method => :delete, :confirm => "Are you sure you want to remove this block from this page?" %>
    </div>
  </div>
  <div class="content">
    <%= render_content_block(connector.content_block) %>
  </div>
</div>