<div id="connector_<%= connector.id %>" class="cms-outer-container" >
  <div class="cms-inner-container" style="display: block; width: 100%; position: absolute; top: 5px; left: 5px; height: 30px;">
    <%= link_to image_tag("cms/pages/show_connectable.gif", :class=>'cms-content-button'), cms_connectable_path(connectable), :title => "View this content (#{connectable.name})" , :class=>"cms-content-link"%>
    <%= link_to image_tag("cms/pages/edit_connectable.gif", :class=>'cms-content-button'), edit_cms_connectable_path(connectable, :_redirect_to => @page.path), :title => "Edit this content (#{connectable.name})" , :class=>"cms-content-link"%>
    <% if @page.connectors.for_page_version(@page.version).in_container(connector.container).count > 1 %>
      <%= link_to image_tag("cms/pages/up_connectable.gif", :class=>'cms-content-button'), cms.move_up_connector_path(connector), :class => "http_put", :title => "Move this content up (#{connectable.name})" , :class=>"cms-content-link"%>
      <%= link_to image_tag("cms/pages/down_connectable.gif", :class=>'cms-content-button'), cms.move_down_connector_path(connector), :class => "http_put", :title => "Move this content down (#{connectable.name})" , :class=>"cms-content-link"%>
    <% else %>
      <%= image_tag("cms/pages/up_connectable_disabled.gif", :class=>'cms-content-button') %>
      <%= image_tag("cms/pages/down_connectable_disabled.gif", :class=>'cms-content-button') %>
    <% end %>
    <%= link_to image_tag("cms/pages/delete_connectable.gif", :class=>'cms-content-button'), cms.connector_path(connector, :_redirect_to => @page.path), :class => "confirm_with_title http_delete", :title => "Remove this content from page (#{connectable.name}).  It will remain available in the Content Library." , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;"%>
    <%= status_icon connector.status,
          :class => "published_status", 
          :title => connector.live? ? "This content is published and can be seen by site visitors." : "This content is a draft and won't be seen by site visitors until this page is published." ,
          :class=>"cms-content-status",
          :style => "position: absolute; top: -1px; right: 10px;" %>
  </div>
    <%= render_connectable connectable %>
</div>
<%= content_for :html_head do %>
    <%= stylesheet_link_tag 'cms/page_content_editing' %>
    <%= javascript_include_tag 'cms/core_library' %>
    <% if  @authenticity_token_loaded.nil? && protect_against_forgery? %><script type="text/javascript">
      jQuery(function($){
        $.cms.authenticity_token = '<%= form_authenticity_token %>'
      })
    </script><% end %><% @authenticity_token_loaded = true %>
<% end %>
