.edit_block
  .header
    = connector.content_block.name
    .actions
      = status_icon(connector.content_block.status)
      = link_to action_icon(:view), send("cms_#{connector.content_block.class.content_block_type}_path", connector.content_block)
      = link_to action_icon(:edit), send("edit_cms_#{connector.content_block.class.content_block_type}_path", connector.content_block, :_redirect_to => @page.path)
      -if @page.connectors.for_container(connector.container).count > 1
        = link_to action_icon(:up), move_up_cms_connector_path(connector), :method => :put
        = link_to action_icon(:down), move_down_cms_connector_path(connector), :method => :put      
      = link_to action_icon(:delete), cms_connector_path(connector, :_redirect_to => @page.path), :method => :delete, :confirm => "Are you sure you want to remove this block from this page?"
  .content= render_content_block(connector.content_block)