<div class="cms_edit_container" style="height: auto; background: url(<%= asset_path "cms/containers/alpha.png" %>) repeat-x 0 0; border: 1px solid #999; margin: -8px 0 0 -8px; padding: 24px 7px 1px 7px; position: relative;">
    <div style="display: block; width: 100%; position: absolute; top: 5px; left: 5px; height: 30px;">
      <%= link_to image_tag("cms/pages/add_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms.content_types_path(:connect_to_page_id => @page, :connect_to_container => name), :title => "Add new content to this container (#{name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;",  :id=>"add_new_content_#{name}"%>
      <%= link_to image_tag("cms/pages/connect_connectable.gif", :style => "text-decoration: none; padding: 0; background: none; margin: 0; float: none; border: none;"), cms.new_connector_path(:page_id => @page, :container => name), :title => "Insert existing content into this container (#{name})" , :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none;", :id=>"insert_existing_content_#{name}"%>
      <%= image_tag "cms/#{@page.container_published?(name) ? 'published' : 'draft'}_status.gif",
            :class => "published_status",
            :title => @page.container_published?(name) ? "This content is published and can be seen by site visitors." : "This content is a draft and won't be seen by site visitors until this page is published.",
            :style => "text-decoration: none; padding: 0 2px 0 0; background: none; margin: 0; float: none; border: none; position: absolute; top: -1px; right: 12px;" %>
  </div>
  <%= content %>
</div>
