<% content_for :html_head do %>
<%= stylesheet_link_tag('cms/form_layout') %>
<% javascript_tag do %>
$(document).ready(function() {
  $('#page_template_id').selectbox({debug:true, width: '210px'});
});
<% end %>
<% end %>
<%= f.error_messages %>
<div class="fields text_fields">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>
<div class="fields text_fields">
  <%= f.label :title, "Title", :class => "inline" %> 
  <%= f.text_field :title %>
  <div class="instructions">(Leave blank if same as name)</div>
</div>
<div class="fields text_fields">
  <%= f.label :path %>
  <%= f.text_field :path %>
</div>
<div class="fields select_fields">
  <% # Temporary Hack 
    @templates = PageTemplate.all(:order => 'name') 
    @templates.delete_if{|t| t.name == "Error"} if @page.new_record? %>
  <%= f.label :template_id %>
  <div><%= f.collection_select :template_id, @templates, :id, :name %></div>
</div>
<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <label>
      <%= f.check_box :cacheable %>
      <span>Cache enabled?</span>
    </label>
  </div>
</div>
<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <label>
      <%= f.check_box :hidden, :disabled => (!current_user.able_to?(:publish_content)) %>
      <span>Hide From Menus?</span>
    </label>
  </div>
</div>
<div class="checkbox_group fields no_check_all">
  <div class="checkbox_fields">
    <label>
      <%= f.check_box :archived, :disabled => (!current_user.able_to?(:publish_content)) %>
      <span>Archived?</span>
    </label>
  </div>
</div>
<div class="fields textarea_fields">
  <%= f.label :description %>
  <%= f.text_area :description, :size => "80x5" %>
</div>
<div class="fields textarea_fields">
  <%= f.label :keywords %>
  <%= f.text_area :keywords, :size => "80x3" %>
</div>
<div class="fields text_fields">
  <%= f.label :language %>
  <%= f.text_field :language %>
</div>
