= f.error_messages
.field
  = f.label :name
  = f.text_field :name
.field
  = f.label :path
  = f.text_field :path
.field
  = f.label :template_id
  = f.collection_select :template_id, PageTemplate.all(:order => 'name'), :id, :name
.buttons
  = f.submit "Save"