<span id="page-status-label">
<% if !@page.live? %>
    <span id="page-status-label" class="draft-status pull-left">DRAFT</span>
<% else %>
   <span id="page-status-label" class="published-status pull-left">Published</span>
<% end %>
</span>
<%= menu_button "Publish",
               @page.live? ? '#' : cms.publish_page_path(@page),
               :id => "publish_button",
               :pull => 'left',
               :method => :put,
               :target => "_top",
               :enabled => !(!current_user.able_to?(:publish_content) || !current_user.able_to_edit?(@page) || @page.version != @page.draft.version || @page.live?) %>
<%= menu_button "Preview", cms.preview_page_path(@page), id: "preview_button", pull: "left", target: "_blank" %>
<div class="btn-group pull-left">
 <%= menu_button "Assign",
                 cms.new_page_task_path(@page),
                 :id => "assign_button",
                 :target => "_top",
                 :align => 'none',
                 :enabled => !(@page.assigned_to == current_user || !current_user.able_to_edit?(@page))
 %>

 <%= menu_button "Complete Task",
                 @page.current_task ? cms.complete_task_path(@page.current_task) : '#',
                 :id => "complete_task_button",
                 :method => :put,
                 :target => "_top",
                 :pull => 'center',
                 :enabled => !(@page.assigned_to != current_user || !current_user.able_to_edit?(@page)) %>
</div>
<%
  tooltip = <<HTML
   <b>Page Name</b>: #{@page.name}<br>
   <b>Status</b>: #{@page.status}<br>
   <b>Template</b>: #{@page.template_name}<br />
   <b>Section</b>: #{@page.section.name}<br />
   <b>Version</b>: #{@page.version} #{@page.live_version && @page.version == @page.live_version.version ? '(LIVE)' : ''}<br />

HTML

%>
<%= menu_button "Edit Properties",
               [:edit, @page],
               :id => "edit_properties_button",
               :target => "_top",
               :pull => 'left',
               :title => "Page Properties",
               'data-content'=>tooltip,
               :enabled => current_user.able_to_edit?(@page)
%>

<%= menu_button "List Versions",
               cms.versions_page_path(@page),
               :target => "_top",
               :pull => 'left',
               :enabled => current_user.able_to_edit?(@page) %>

<%= able_to? :publish_content do %>
   <% if @page.draft_version? %>
       <%= menu_button "Delete",
                       [@page],
                       :id => "delete_button",
                       :title => "Are you sure you want to delete '#{@page.name}'?",
                       :target => "_top",
                       :enabled => current_user.able_to_publish?(@page),
                       :pull => 'left',
                       :method => :delete%>
   <% else %>
       <%= menu_button "Revert to this Version",
                       cms.revert_page_path(@page, @page.version),
                       :id => "revert_button",
                       :method => :put,
                       :target => "_top" %>
   <% end %>
<% end %>