<% page_title "Edit Properties / '#{h(@page.name)}' Page" %>
<%= content_for :functions  do%>
<h1><%= @page_title %></h1>
<%= link_to(span_tag("list all"), cms.sitemap_path, :class => "button") %>
<%= link_to(span_tag("edit content"), @page.path, :class => "button") %>
<br clear="all" />
<% end %>
<%= form_for(@page) do |f| %>
  <% if @other_version %>
    <%= render :partial => 'cms/shared/version_conflict_error', :locals => {:other_version => @other_version, :your_version => @page} %>
    <%= f.hidden_field :lock_version, :value => @other_version.lock_version %>
  <% else %>
    <%= f.hidden_field :lock_version %>
  <% end %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  <% if @other_version %>
    <%= render :partial => "cms/shared/version_conflict_diff", :locals => {:other_version => @other_version, :your_version => @page} %>
  <% end %>  
  <div class="buttons">
    <%= lt_button_wrapper(f.submit("Save", :class => "submit", :tabindex => next_tabindex)) %>
  </div>
<% end %>
