%h2=h @section.name

-unless @page.section == @section
  = link_to "#{action_icon(:page_move)} Move to this Section", cms_move_page_to_section_path(@page, @section), :method => :put

-if(@section.parent)
  %p= link_to "Back to Parent Section", move_cms_page_path(@page, :section_id => @section.parent)

%ul
  - @section.children.all(:order => "name").each do |section|
    %li.section= link_to h(section.name), move_cms_page_path(@page, :section_id => section)
      
  - @section.pages.all(:order => "name").each do |page|
    %li{:class => "page #{page.status.underscore}"}
      =h page.name