<% content_for :html_head do %>
<script type="text/javascript">
jQuery(function($){
  $("#page_name").blur(function(){
    var section = { name: <%= @page.section.name.to_json %>, path: <%= @page.section.path.to_json %> }
    var page_name = $.trim($("#page_name").val())
    if (page_name == section.name || page_name == 'Overview') {
      $("#page_path").val(section.path)
    } else {
      $("#page_path").val(section.path.replace(/\/$/, '') + "/" + page_name.toLowerCase().replace(/-|_/g, '').replace(/ /g, '_').replace(/\W/g, ''))
    }
  })
})
</script>
<% end %>

<% @page_title = "New Page" %>
<h1 class="page_title"><%= @page_title %></h1>
<% form_for(@page, :url => cms_path(:pages, :create)) do |f| %>
  <%= hidden_field_tag :section_id, @page.section_id %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="buttons">
  <%= lt_button_wrapper(f.submit("Save", :class => "submit")) %>
  </div>
<% end %>

