<% @page_title = "New Page" %>
<h1><%= @page_title %></h1>
<% form_for(@page, :url => cms_path(:pages, :create)) do |f| %>
  <%= hidden_field_tag :section_id, @page.section_id %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="fields">  
    <%= f.submit "Save" %>
    <button type="submit" name="page[publish_on_save]" value="true">Save And Publish</button>
  </div>  
<% end %>

<script>
function suggestPath(event) {
  var section = { name: "<%= @page.section.name %>", path: "<%= @page.section.path %>" };
  var page_name = $F("page_name").strip();
  if (page_name == section.name || page_name == 'Overview')
    $("page_path").value = section.path;
  else
    $("page_path").value = section.path + "/" + page_name.toLowerCase().gsub(/-|_/, '').gsub(/ /, '_').gsub(/\W/, '')
}

$("page_name").observe('blur', suggestPath);
</script>