<%= content_for :html_head do %>
<script type="text/javascript">
jQuery(function($){
  $("#page_name").keyup(function(){
    var section = { name: <%= @page.section.name.to_json.html_safe %>, path: <%= @page.section.path.to_json.html_safe %> };
    var page_name = $.trim($("#page_name").val())
    if (page_name == section.name || page_name == 'Overview') {
      $("#page_path").val(section.path)
    } else {
      $("#page_path").val(
        section.path.replace(/\/$/, '') + "/" + $.cms.slug(page_name)
      )
    }
  });
});
</script>
<% end %>

<% page_title "New Page" %>
<%= content_for :functions do %>
<%= "<h1>#{ @page_title }</h1>" %> 
<%= link_to(span_tag("list all"), cms.sitemap_path, :class => "button") %>
<br clear="all"/>
<% end %>
<%= form_for(@page) do |f| %>
  <%= hidden_field_tag :section_id, @page.section_id %>
  
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="buttons">
  <%= lt_button_wrapper(f.submit("Save", :class => "submit", :tabindex => next_tabindex)) %>
  </div>
<% end %>

