<% @page_title = "Page Revision History" %>
<% @toolbar_title = "List Revisions" %>
<%= content_for :html_head, stylesheet_link_tag("cms/content_library") %>
<%= content_for :functions,  "<h1>#{ @toolbar_title }</h1>" %>

<table id="blocks">
  <tr>
    <th>Version</th>
    <th>Status</th>
    <th>Comment</th>
    <th>Date</th>
    <th>Editor</th>
    <th class="last">Actions</th>
  </tr>
  <% @page.versions.all(:order => "version desc").each_with_index do |r, i| %><tr>
    <td><%= link_to "v.#{r.version}", cms_path(@page, :show_version, :version => r.version)%></td>
    <td><%= status_icon(r.published?) %></td>
    <td><%=h r.version_comment %></td>
    <td><%= r.created_at.strftime("%b %e, %Y %l:%M %p") if r.created_at %></td>
    <td><%= r.updated_by.login if r.updated_by %></td>
    <td><% if i > 0 %><%= link_to "Revert", cms_path(@page, :revert_to, :version => r.version) %><% end %></td>
  </tr><% end %>
</table>
