-if(logged_in?)
  #cms_toolbar
    %h1= link_to "BrowserCMS", "/"
    %ul#nav
      %li= link_to "Dashboard", cms_dashboard_path
      %li= link_to "Sitemap", cms_sitemap_path
      %li= link_to "Content Library", cms_content_library_path
      %li= link_to "Administration", cms_administration_path
    = link_to "Logout", cms_logout_path  
    -if(flash[:notice])
      #flash.notice= flash[:notice]
    -if(flash[:error])
      #flash.error= flash[:error]      
    = render :partial => 'layouts/page_toolbar'