<% able_to? :edit_content, :publish_content do -%>
  <div id="nav">
  	<h1><%= link_to image_tag("cms/browsercms_logo.png"), "/", :target => "_top" %></h1>
    	<ul id="section">
      	<li<%= ' class="on"' if tab == :dashboard %>><%= link_to "Dashboard", cms_dashboard_path, :target => "_top" %></li>
        <% able_to?(:edit_content, :publish_content) do %><li<%= ' class="on"' if tab == :sitemap %>><%= link_to "Sitemap", cms_sitemap_path, :target => "_top" %></li><% end %>
        <% able_to?(:edit_content, :publish_content) do %><li<%= ' class="on"' if tab == :content_library %>><%= link_to "Content Library", cms_content_library_path, :target => "_top" %></li><% end %>
        <% able_to?(:administrate) do %><li<%= ' class="on"' if tab == :administration %>><%= link_to "Administration", cms_administration_path, :target => "_top" %></li><% end %>
      </ul>
      <ul id="userlinks">
      	<li><%= link_to "Logout", cms_logout_path, :class => "http_delete", :target => "_top" %></li>
      </ul>
			<div class="cmssearch">

			</div>
  </div>
  <% flash_class, flash_message = flash.to_a.first %>
  <div id="flash" style="display: none">
    <div id="message" class="<%= flash_class %>">
      <% if flash_message %><p><%= flash_message %></p><% end %>
    </div>
  </div>

<% end -%>
