<%= able_to? :edit_content, :publish_content, :administrate do -%>
  <div id="nav">
  	<h1><%= link_to image_tag("cms/browsercms_logo.png"), "/", :target => "_top" %></h1>
    	<ul id="section">
      	<li><%= link_to image_tag("cms/nav_dash#{'_on' if tab == :dashboard}.gif", :id => 'nav_dash_img'), cms.dashboard_path, :target => "_top" %></li>
        <%= able_to?(:edit_content, :publish_content) do %><li><%= link_to image_tag("cms/nav_sitemap#{'_on' if tab == :sitemap}.gif", :id => 'nav_sitemap_img'), cms.sitemap_path, :target => "_top" %></li><% end %>
        <%= able_to?(:edit_content, :publish_content) do %><li><%= link_to image_tag("cms/nav_content_library#{'_on' if tab == :content_library}.gif", :id => 'nav_content_library_img'), cms.content_library_path, :target => "_top" %></li><% end %>
        <%= able_to?(:administrate) do %><li><%= link_to image_tag("cms/nav_admin#{'_on' if tab == :administration}.gif", :id => 'nav_admin_img'), cms.administration_path, :target => "_top" %></li><% end %>
      </ul>
      <ul id="userlinks">
	<li id="user_info"><a href="<%= current_user.able_to?(:administrate) ? cms.edit_user_path(current_user) : cms.user_path(current_user) %>" target="_top"><%= image_tag "cms/icons/user.png" %> <%= current_user.full_name %></a></li>
      	<li><%= link_to "Logout", cms.logout_path, :class => "http_delete", :target => "_top" %></li>
      </ul>
      <% flash_class, flash_message = flash.to_a.first %>
      <div id="flash" style="display: none">
        <div id="message" class="<%= flash_class %>">
          <% if flash_message %><p><%= flash_message %></p><% end %>
        </div>
      </div>
  </div>
<% end -%>
  <%= javascript_tag do %>
    jQuery(function($){
<% unless tab == :dashboard %>
      $('#nav_dash_img').hover(function(){
        $('#nav_dash_img').attr('src', '<%= asset_path "cms/nav_dash_h.gif" %>');
      }, function(){
        $('#nav_dash_img').attr('src', '<%= asset_path "cms/nav_dash.gif" %>');
    });
<% end %>
<% unless tab == :sitemap %>
      $('#nav_sitemap_img').hover(function(){
        $('#nav_sitemap_img').attr('src', '<%= asset_path "cms/nav_sitemap_h.gif" %>');
      }, function(){
        $('#nav_sitemap_img').attr('src', '<%= asset_path "cms/nav_sitemap.gif" %>');
    });
<% end %>
<% unless tab == :content_library %>
      $('#nav_content_library_img').hover(function(){
        $('#nav_content_library_img').attr('src', '<%= asset_path "cms/nav_content_library_h.gif" %>');
      }, function(){
        $('#nav_content_library_img').attr('src', '<%= asset_path "cms/nav_content_library.gif" %>');
    });
<% end %>
<% unless tab == :administration %>
      $('#nav_admin_img').hover(function(){
        $('#nav_admin_img').attr('src', '<%= asset_path "cms/nav_admin_h.gif" %>');
      }, function(){
        $('#nav_admin_img').attr('src', '<%= asset_path "cms/nav_admin.gif" %>');
    });
<% end %>

});
  <% end %>
