<% if(logged_in? && @page && !@hide_page_toolbar) %>
  <div id="page_toolbar">
    <% if @mode == "edit" %>
      <%= link_to "Switch to View Mode", "#{@page.path}?mode=view", :target => "_top" %>
    <% else %>
      <%= link_to "Switch to Edit Mode", "#{@page.path}?mode=edit", :target => "_top" %>    
    <% end %>

    <%= link_to "Edit Page Properties", cms_path(@page, :edit), :target => "_top" %>
    <%= link_to "Revisions", cms_path(@page, :revisions), :target => "_top" %>
    <%= link_to "Delete", cms_path(@page, :destroy), :http_method => :delete, :confirm => "Are you sure you want to delete '#{@page.name}'?", :target => "_top" %>

    <%= link_to "Assign", "#", :target => "_top" %>
    <% able_to? :publish_content do %>
      <%= @page.published? ? "Publish" : link_to("Publish", cms_path(@page, :publish), :http_method => :put, :target => "_top") %>
    <% end %>
  </div>  
  <div>
    Status: <strong class="<%= @page.published? ? 'published': 'draft' %>"><%= @page.published? ? 'Published': 'Draft' %></strong>
    <%= "(Live)" if @page.live? %>
    <%= status_icon(:hidden) if @page.hidden? %>
    <%= status_icon(:archived) if @page.archived? %>
    <br/>
    Page: <%= link_to h(@page.name), @page.path, :target => "_top" %>
    <br/>
    Section: <%= link_to h(@page.section.name), cms_path(:sections, :page_id => @page), :target => "_top" %>
    <br/>
    Template: <%= link_to h(@page.template_name), cms_path(:page_templates), :target => "_top" %>
  </div>
<% end %>