<% if(logged_in? && @page && !@hide_page_toolbar) %>
<% status = @page.live? ? 'published' : 'draft' %>
<%= image_tag "cms/page_toolbar/page_toolbar_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/status_#{status}_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/page_toolbar_r.gif", :style => "float: right;" %>
<div id="page_toolbar">
  <div id="status_div" class="<%= status %> page_attribute_div">
    <div class="page_attribute_label">Status:</div>
    <div id="<%= status %>_page_status_container" class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_l.gif", :style => "float: left;" %>
      <div id="page_status" class="page_attribute_value"><%= status %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Section:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div id="section_link" class="page_attribute_value"><%= link_to h(@page.section.name), cms.sections_path(:page_id => @page), :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Page:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Template:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.template_name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Version:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.version) %><%= ' (LIVE)' if @page.live_version && @page.version == @page.live_version.version %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
</div>  
<div class="buttons">
  
  <%= link_to "<span>Publish</span>".html_safe, 
    @page.live? ? '#' : cms.publish_page_path(@page),
    :id => "publish_button",
    :class => "http_put button#{' disabled' if !current_user.able_to?(:publish_content) || !current_user.able_to_edit?(@page) || @page.version != @page.draft.version || @page.live?} left",
    :target => "_top" %>
    
  <%= link_to "<span>Assign</span>".html_safe,
    cms.new_page_task_path(@page),
    :id => "assign_button",
    :class => "button#{ ' disabled' if @page.assigned_to == current_user || !current_user.able_to_edit?(@page) } middle",
    :target => "_top" %>
    
  <%= link_to "<span>Complete Task</span>".html_safe,
    @page.current_task ? cms.complete_task_path(@page.current_task) : '#',
    :id => "complete_task_button",
    :class => "http_put button#{ ' disabled' if @page.assigned_to != current_user || !current_user.able_to_edit?(@page) } right", 
    :target => "_top" %>

  <%= link_to "<span>Edit Properties</span>".html_safe,
    [:edit, @page],
    :id => "edit_properties_button",
    :class => "spacer button#{ ' disabled' unless current_user.able_to_edit?(@page) }", 
    :target => "_top" %>
  
  <%= link_to "<span>List Versions</span>".html_safe, 
    cms.versions_page_path(@page),
    :class => "spacer button#{ ' disabled' unless current_user.able_to_edit?(@page) }",
    :target => "_top" %>
    
  <%= able_to? :publish_content do %>
    <% if @page.draft_version? %>  
      <%= link_to "<span><span class=\"delete_img\">&nbsp;</span>Delete</span>".html_safe,
        [@page],
        :id => "delete_button",
        :title => "Are you sure you want to delete '#{@page.name}'?", 
        :target => "_top", 
        :class => "spacer button confirm_with_title http_delete#{ ' disabled' unless current_user.able_to_publish?(@page) }" %>
    <% else %>
      <%= link_to "<span>Revert to this Version</span>".html_safe,
        cms.revert_page_path(@page, @page.version),
        :id => "revert_button",
        :class => "button http_put", 
        :target => "_top" %>
    <% end %>
  <% end %>

  <%= render :partial => "cms/toolbar/mobile_toggle" %>
  <div id="visual_editor_toggle">
    <% if @page.version == @page.draft.version %>
        <div class="visual_editor_label">Visual Editor:</div>
        <div class="visual_editor_value_container">
          <% if @mode == "edit" %>
	    <div><span id="visual_editor_state"<%= ' title="You don\'t have permission to edit this page"' unless current_user.able_to_edit?(@page) %>>ON<%= '*' unless current_user.able_to_edit?(@page) %></span></div>
          <% else %>
	    <div><span id="visual_editor_state">OFF</span></div>
          <% end %>
        </div>
        <div class="visual_editor_toggle_container">
          <% if @mode == "edit" %>
          <div class="sm_button"><%= link_to '<span id="visual_editor_action">TURN OFF</span>'.html_safe, url_with_mode(request.referrer, "view"), :target => "_top", :class => "sm_button" %></div>
	  <% else %>
          <div class="sm_button"><%= link_to '<span id="visual_editor_action">TURN ON</span>'.html_safe, url_with_mode(request.referrer, "edit"), :target => "_top", :class => "sm_button" %></div>    	  <% end %>
	</div>
<% else %>
	</div>
      <%= link_to("<span>View Current Version</span>".html_safe, @page.path, :class => "button current_version", :target => "_top") %>
    <% end %>
  </div>
</div>
<% end %>
