<% if(logged_in? && @page && !@hide_page_toolbar) %>
<% status = @page.live? ? 'published' : 'draft' %>
<%= image_tag "cms/page_toolbar/page_toolbar_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/status_#{status}_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/page_toolbar_r.gif", :style => "float: right;" %>
<div id="page_toolbar">
  <div id="status_div" class="<%= status %> page_attribute_div">
    <div class="page_attribute_label"><%= t "layouts.page_toolbar.status" %></div>
    <div id="<%= status %>_page_status_container" class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_l.gif", :style => "float: left;" %>
      <div id="page_status" class="page_attribute_value"><%= status %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label"><%= t "layouts.page_toolbar.section" %></div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div id="section_link" class="page_attribute_value"><%= link_to h(@page.section.name), cms_sections_path(:page_id => @page), :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label"><%= t "layouts.page_toolbar.page" %></div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label"><%= t "layouts.page_toolbar.template" %></div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.template_name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label"><%= t "layouts.page_toolbar.version" %></div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.version) %><%= " (#{t("layouts.page_toolbar.live")})" if @page.live_version && @page.version == @page.live_version.version %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
</div>  
<div class="buttons">
  
  <%= link_to "<span>#{t "layouts.page_toolbar.publish"}</span>", 
    @page.live? ? '#' : publish_cms_page_path(@page), 
    :id => "publish_button",
    :class => "http_put button#{' disabled' if !current_user.able_to?(:publish_content) || !current_user.able_to_edit?(@page) || @page.version != @page.draft.version || @page.live?} left",
    :target => "_top" %>
    
  <%= link_to "<span>#{t "layouts.page_toolbar.assign"}</span>", 
    new_cms_page_task_path(@page), 
    :id => "assign_button",
    :class => "button#{ ' disabled' if @page.assigned_to == current_user || !current_user.able_to_edit?(@page) } middle",
    :target => "_top" %>
    
  <%= link_to "<span>#{t "layouts.page_toolbar.complete_task"}</span>", 
    @page.current_task ? complete_cms_task_path(@page.current_task) : '#', 
    :id => "complete_task_button",
    :class => "http_put button#{ ' disabled' if @page.assigned_to != current_user || !current_user.able_to_edit?(@page) } right", 
    :target => "_top" %>

  <%= link_to "<span>#{t "layouts.page_toolbar.edit_properties"}</span>", 
    [:edit, :cms, @page], 
    :id => "edit_properties_button",
    :class => "spacer button#{ ' disabled' unless current_user.able_to_edit?(@page) }", 
    :target => "_top" %>
  
  <%= link_to "<span>#{t "layouts.page_toolbar.list_versions"}</span>", 
    versions_cms_page_path(@page), 
    :class => "spacer button#{ ' disabled' unless current_user.able_to_edit?(@page) }",
    :target => "_top" %>
    
  <% able_to? :publish_content do %>
    <% if @page.draft_version? %>  
      <%= link_to "<span><span class=\"delete_img\">&nbsp;</span>#{t "layouts.page_toolbar.delete"}</span>",    
        [:cms, @page], 
        :id => "delete_button",
        :title => t("layouts.page_toolbar.confirm", :page_name => @page.name), 
        :target => "_top", 
        :class => "spacer button confirm_with_title http_delete#{ ' disabled' unless current_user.able_to_publish?(@page) }" %>
    <% else %>
      <%= link_to "<span>#{t "layouts.page_toolbar.revert"}</span>",
        revert_to_cms_page_path(@page, @page.version), 
        :id => "revert_button",
        :class => "button http_put", 
        :target => "_top" %>
    <% end %>
  <% end %>

  <div id="visual_editor_toggle">
    <% if @page.version == @page.draft.version %>
        <div class="visual_editor_label"><%= t "layouts.page_toolbar.visual_editor" %></div>
        <div class="visual_editor_value_container">
          <% if @mode == "edit" %>
	    <div><span id="visual_editor_state"<%= ' title="You don\'t have permission to edit this page"' unless current_user.able_to_edit?(@page) %>><%= t "layouts.page_toolbar.status_on" %><%= '*' unless current_user.able_to_edit?(@page) %></span></div>
          <% else %>
	    <div><span id="visual_editor_state"><%= t "layouts.page_toolbar.status_off" %></span></div>
          <% end %>
        </div>
        <div class="visual_editor_toggle_container">
          <% if @mode == "edit" %>
          <div class="sm_button"><%= link_to "<span id=\"visual_editor_action\">#{t "layouts.page_toolbar.turn_off"}</span>", url_with_mode(request.referrer, "view"), :target => "_top", :class => "sm_button" %></div>    
	  <% else %>
          <div class="sm_button"><%= link_to "<span id=\"visual_editor_action\">#{t "layouts.page_toolbar.turn_on"}</span>", url_with_mode(request.referrer, "edit"), :target => "_top", :class => "sm_button" %></div>    	  <% end %>
	</div>
<% else %>
	</div>
      <%= link_to("<span>#{t layouts.page_toolbar.view_current}</span>", @page.path, :class => "button current_version", :target => "_top") %>
    <% end %>
  </div>
</div>
<% end %>
