<% if(logged_in? && @page && !@hide_page_toolbar) %>
  <div id="page_toolbar">
    <%= link_to((@mode == "edit" ? "Switch to View Mode" : "Switch to Edit Mode"), "#{@page.path}?mode=#{@mode == "edit" ? "view" : "edit"}") %>
    <%= link_to "Edit Page Properties", cms_path(@page, :edit) %>
    <%= link_to "Revisions", cms_path(@page, :revisions) %>
    <%= link_to "Delete", cms_path(@page, :destroy), :method => :delete, :confirm => "Are you sure you want to delete '#{@page.name}'?" %>

    <%= link_to_function "Assign" %>
    <%= @page.published? ? "Publish" : link_to("Publish", cms_path(@page, :publish), :method => :put) %>
  </div>  
  <div>
    Status: <strong class="<%= @page.published? ? 'published': 'draft' %>"><%= @page.published? ? 'Published': 'Draft' %></strong>
    <%= "(Live)" if @page.live? %>
    <%= status_icon(:hidden) if @page.hidden? %>
    <%= status_icon(:archived) if @page.archived? %>
    <br/>
    Page: <%= link_to h(@page.name), @page.path %>
    <br/>
    Section: <%= link_to h(@page.section.name), cms_path(:sections, :page_id => @page) %>
    <br/>
    Template: <%= link_to h(@page.template_name), cms_path(:page_templates) %>
    <br/>
    Version:
    <% form_tag cms_path(@page, :show_version), :method => :get, :style => "display: inline" do %>
      <%= hidden_field_tag :mode, @mode %>
      <%= page_versions(@page) %>
    <% end %>
    <% unless @page.current_version? %>
      <%= link_to "Revert to this Version", cms_path(@page, :revert_to, :version => @page.version) %>
    <% end %>
  </div>
<% end %>