<% if(logged_in? && @page && !@hide_page_toolbar) %>
  <div id="page_toolbar">
    <%= link_to((@mode == "edit" ? "Switch to View Mode" : "Switch to Edit Mode"), "#{@page.path}?mode=#{@mode == "edit" ? "view" : "edit"}") %>
    <%= link_to "Edit Page Properties", cms_path(@page, :edit) %>
    <%= link_to "Revisions", cms_path(@page, :revisions) %>
    <%= link_to "Delete", cms_path(@page, :destroy), :method => :delete, :confirm => "Are you sure you want to delete '#{@page.name}'?" %>

    <%= link_to_function "Assign" %>
    <%= @page.published? ? "Publish" : link_to("Publish", cms_path(@page, :publish), :method => :put) %>
    <%= @page.hidden? ? "Hide" : link_to("Hide", cms_path(@page, :hide), :method => :put) %>
    <%= @page.archived? ? "Archive" : link_to("Archive", cms_path(@page, :archive), :method => :put) %>
  </div>  
  <div>
    Status: <%= @page.status_name %> (Live)
    <br/>
    Page: <%= link_to h(@page.name), @page.path %> (v<%= @page.version%>)
    <br/>
    Section: <%= link_to h(@page.section.name), cms_path(:sections, :page_id => @page) %>
    <br/>
    Template: <%= link_to h(@page.template_name), cms_path(:page_templates) %>
  </div>
<% end %>