<% if(logged_in? && @page && !@hide_page_toolbar) %>
<% status = @page.published? ? 'published' : 'draft' %>
<%= image_tag "cms/page_toolbar/page_toolbar_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/status_#{status}_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/page_toolbar_r.gif", :style => "float: right;" %>
<div id="page_toolbar">
  <div id="status_div" class="<%= status %> page_attribute_div">
    <div class="page_attribute_label">Status:</div>
    <div id="<%= status %>_page_status_container" class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_l.gif", :style => "float: left;" %>
      <div id="page_status" class="page_attribute_value"><%= status %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Section:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= link_to h(@page.section.name), cms_path(:sections, :page_id => @page), :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Page:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= link_to h(@page.name), @page.path, :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Template:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= link_to h(@page.template_name), cms_path(:page_templates), :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
</div>  
<div class="buttons">
  <%= link_to "<span>Page Properties</span>", cms_path(@page, :edit), :class => "button", :target => "_top" %>
  <%= link_to "<span>Revisions</span>", cms_path(@page, :revisions), :target => "_top", :class => "button" %>
  <% able_to? :publish_content do %>
  <%= link_to("<span>Publish</span>", cms_path(@page, :publish), :target => "_top", :class => "http_put button#{' disabled' if @page.published?}") %>
  <%= link_to "<span>Delete</span>", cms_path(@page, :destroy), :title => "Are you sure you want to delete '#{@page.name}'?", :target => "_top", :class => "confirm_with_title http_delete button" %>
  <% end %>
<div id="visual_editor_toggle">
    <div class="visual_editor_label">Visual Editor:</div>
    <div class="visual_editor_value_container">
      <%= image_tag "cms/page_toolbar/visual_editor_end.gif", :style => "float: left;" %>

  <% if @mode == "edit" %>
<div class="sm_button"><%= link_to "<span>ON</span>", "#{@page.path}?mode=view", :target => "_top" %></div><div><%= link_to 'off',"#{@page.path}?mode=view", :target => "_top" %></div>
  <% else %>
<div><%= link_to "on", "#{@page.path}?mode=edit", :target => "_top" %></div><div class="sm_button"><%= link_to "<span>OFF</span>", "#{@page.path}?mode=edit", :target => "_top" %></div>
  <% end %>
      <%= image_tag "cms/page_toolbar/visual_editor_end.gif", :style => "float: left;" %>
    </div>

</div>
</div>
<% end %>
