<% if(logged_in? && @page && !@hide_page_toolbar) %>
<% status = @page.published? ? 'published' : 'draft' %>
<%= image_tag "cms/page_toolbar/page_toolbar_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/status_#{status}_l.gif", :style => "float: left;" %>
<%= image_tag "cms/page_toolbar/page_toolbar_r.gif", :style => "float: right;" %>
<div id="page_toolbar">
  <div id="status_div" class="<%= status %> page_attribute_div">
    <div class="page_attribute_label">Status:</div>
    <div id="<%= status %>_page_status_container" class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_l.gif", :style => "float: left;" %>
      <div id="page_status" class="page_attribute_value"><%= status %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_#{ status }_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Section:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= link_to h(@page.section.name), cms_path(:sections, :page_id => @page), :target => "_top" %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Page:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Template:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.template_name) %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
  <div class="page_attribute_div">
    <div class="page_attribute_label">Version:</div>
    <div class="page_attribute_value_container">
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_l.gif", :style => "float: left;" %>
      <div class="page_attribute_value"><%= h(@page.version) %><%= ' (LIVE)' if @page.live_version && @page.version == @page.live_version.version %></div>
      <%= image_tag "cms/page_toolbar/page_toolbar_inset_r.gif", :style => "float: left;" %>
    </div>
  </div>
</div>  
<div class="buttons">
  <%= link_to("<span>Publish</span>", @page.published? ? @page.path : cms_path(@page, :publish), :target => "_top", :class => "http_put button publish_button#{' disabled' if @page.published? || !@page.current_version?}") %>
  <%= link_to "<span>Edit Properties</span>", cms_path(@page, :edit), :class => "button#{' disabled' if !@page.current_version?}", :target => "_top" %>
  <%= link_to "<span>Assign Task</span>", cms_path(:tasks, :new, :page_id => @page.id), :class => "button#{ ' disabled' if @page.assigned_to == current_user}", :target => "_top" %>
  <%= link_to "<span>Complete Task</span>", cms_path(:tasks, :complete, @page.current_task), :class => "http_put button#{ ' disabled' unless @page.assigned_to == current_user}", :target => "_top" %>

  <%= link_to "<span>List Versions</span>", cms_path(@page, :revisions), :target => "_top", :class => "button" %>
  <% able_to? :publish_content do %>
    <% if @page.current_version? %>  
      <%= link_to "<span><span class=\"delete_img\">&nbsp;</span>Delete</span>", cms_path(@page, :destroy), :title => "Are you sure you want to delete '#{@page.name}'?", :target => "_top", :class => "confirm_with_title http_delete button#{' disabled' if !@page.current_version?}" %>
    <% else %>
      <%= link_to "<span>Revert to this Version</span>", cms_path(@page, :revert_to, :version => @page.version), :class => "button http_put", :target => "_top" %>
    <% end %>
  <% end %>

  <div id="visual_editor_toggle">
    <% if @page.current_version? %>
        <div class="visual_editor_label">Visual Editor:</div>
        <div class="visual_editor_value_container">
          <%= image_tag "cms/page_toolbar/visual_editor_end.gif", :style => "float: left;" %>
          <% if @mode == "edit" %>
            <div class="sm_button"><%= link_to "ON", url_with_mode(request.referrer, "edit"), :class => "sm_button", :target => "_top" %></div>
            <div><%= link_to 'off', url_with_mode(request.referrer, "view"), :target => "_top" %></div>
          <% else %>
            <div><%= link_to "on", url_with_mode(request.referrer, "edit"), :target => "_top" %></div>
            <div class="sm_button"><%= link_to "<span>OFF</span>", url_with_mode(request.referrer, "view"), :target => "_top", :class => "sm_button" %></div>
          <% end %>
          <%= image_tag "cms/page_toolbar/visual_editor_end.gif", :style => "float: left;" %>
        </div>
    <% else %>
      <%= link_to("<span>View Current Version</span>", @page.path, :class => "button current_version", :target => "_top") %>
    <% end %>
  </div>
</div>
<% end %>
