<%= content_for :html_head, stylesheet_link_tag('cms/form_layout') %>

<% content_for :functions do %>
  <% if @block && !@block.new_record? && !defined?(dynamic_buttons) %>
    <%= link_to span_tag("Add New Content"), cms_path(:blocks, @content_type.content_block_type.pluralize, :new) , :class => "button#{ ' off' if action_name == 'new'}", :id => "add_button" %>
    <% able_to? :publish_content do -%>
      <% if @block.respond_to?(:published?) && !@block.published %>
        <%= link_to span_tag('Publish'), cms_path(@block, :publish), :class => "http_put button", :id => "publish_button" %>
      <% else %>
        <%= link_to span_tag('Publish'), "#", :class => "http_put button disabled", :id => "publish_button" %>
      <% end %>
    <% end -%>
    <%= link_to span_tag('View Content'), cms_path(:blocks, @content_type.content_block_type.pluralize, :show, @block) , :class => "button#{ ' off' if action_name == 'show'}", :id => "view_button" %>
    <%= link_to span_tag('Edit Content'), cms_path(:blocks, @content_type.content_block_type.pluralize, :edit, @block) , :class => "button#{ ' off' if action_name == 'edit'}", :id => "edit_button" %>
    <%= link_to span_tag('List Versions'), cms_path(@block, :revisions) , :class => "button#{ ' off' if action_name == 'revisions'} #{'disabled' unless @block.class.versioned?}", :id => "list_versions" %>
    <%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>Delete"), cms_path(:blocks, @content_type.name.underscore.pluralize, :destroy, @block), :class => "http_delete confirm_with_title button", :title => "Are you sure you want to delete '#{@block.name}'?", :id => "delete_button" %>
    <%= link_to span_tag("List All"), cms_path(:blocks, @content_type.content_block_type_for_list), :id=>"list_all", :class => "button#{ ' off' if action_name == 'index'}" %>
  <% else %>
    <%= link_to span_tag("add new content"), cms_path("/blocks/#{@content_type.content_block_type.pluralize}", :new), :id => "add_button", :class => "button#{ ' off' if action_name == 'new'}" %>
    <% able_to?(:publish_content) do %>
      <%= link_to span_tag("Publish"), "#", :id=>"publish_button", :class => "button disabled"  %>
    <% end %>
    <%= link_to span_tag("View Content"), "#", :id => "view_button", :class => "button disabled#{ ' off' if action_name == 'show'}" %>
    <%= link_to span_tag("Edit Content"), "#", :id => "edit_button", :class => "button disabled#{ ' off' if action_name == 'edit'}" %>
    <%= link_to span_tag("List Versions"), "#", :id=>"revisions_button", :class => "button disabled#{ ' off' if action_name == 'revisions'}" %>
    <%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>Delete"), "#", :id => "delete_button", :class => "button disabled http_delete confirm_with_title", :title => "Are you sure you want to delete this record?" %>
    <%= link_to span_tag("List All"), cms_path(:blocks, @content_type.content_block_type_for_list), :id=>"list_all", :class => "button#{ ' off' if action_name == 'index'}" %>
  <% end %>
<% end %>
