<% able_to? :publish_content do -%>
  <% if @block.respond_to?(:published?) && !@block.published %>
    <%= link_to span_tag('Publish'), [:publish, :cms, @block], 
      :class => "http_put button", 
      :id => "publish_button" %>
  <% else %>
    <%= link_to span_tag('Publish'), "#", 
      :class => "http_put button disabled left", 
      :id => "publish_button" %>
  <% end %>
<% end -%>

<%= link_to span_tag('View Content'), [:cms, @block], 
  :class => "button#{ ' off' if action_name == 'show'} middle", 
  :id => "view_button" %>
  
<%= link_to span_tag('Edit Content'), [:edit, :cms, @block], 
  :class => "button#{ ' off' if action_name == 'edit'}", 
  :id => "edit_button" %>
  
<%= link_to span_tag("Add New Content"), cms_new_path_for(@content_type), 
  :class => "button#{ ' off' if action_name == 'new'} right", 
  :id => "add_button" %>

<% if @block.class.versioned? %>
  <%= link_to span_tag('List Versions'), [:versions, :cms, @block], 
    :class => "button#{ ' off' if action_name == 'revisions'}", 
    :id => "list_versions" %>
<% else %>
  <%= link_to span_tag('List Versions'), '#', 
    :class => "button disabled", 
    :id => "list_versions" %>
<% end %>

<%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>Delete"), [:cms, @block], 
  :class => "http_delete confirm_with_title button", 
  :title => "Are you sure you want to delete '#{@block.name}'?", 
  :id => "delete_button" %>
