<% able_to? :publish_content do -%>
  <% if @block.respond_to?(:live?) && !@block.live? %>
    <%= link_to span_tag('Publish'), block_path(:publish), 
      :class => "http_put button left", 
      :id => "publish_button" %>
  <% else %>
    <%= link_to span_tag('Publish'), "#", 
      :class => "http_put button disabled left", 
      :id => "publish_button" %>
  <% end %>
<% end -%>

<%= link_to span_tag('View Content'), block_path, 
  :class => "button middle#{ ' off' if action_name == 'show'}", 
  :id => "view_button" %>
  
<%= link_to span_tag('Edit Content'), block_path(:edit), 
  :class => "button right#{ ' off' if action_name == 'edit'}", 
  :id => "edit_button" %>
  
<%= link_to span_tag("Add New Content"), new_block_path, 
  :class => "button#{ ' off' if action_name == 'new'}", 
  :id => "add_button" %>

<% if @block.class.versioned? %>
  <%= link_to span_tag('List Versions'), block_path(:versions),
    :class => "button#{ ' off' if action_name == 'revisions'}", 
    :id => "list_versions" %>
<% else %>
  <%= link_to span_tag('List Versions'), '#', 
    :class => "button disabled", 
    :id => "list_versions" %>
<% end %>

<%= link_to span_tag("<span class=\"delete_img\">&nbsp;</span>Delete"), block_path, 
  :class => "http_delete confirm_with_title button", 
  :title => "Are you sure you want to delete '#{@block.name}'?", 
  :id => "delete_button" %>
