<% @page_title = "Content Library / Edit #{@content_type.display_name}" %>
<%= render :partial => 'toolbar' %>
<h2>Edit <%= @block.name %></h2>
<% form_for(@block, :url => cms_path(@block, :update), :html => {:multipart => true}) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'hidden_fields', :locals => { :f => f } %>
  <%= render :partial => "cms/#{@block.content_block_type.pluralize}/form", :locals => {:f => f} %>
  <div class="fields">
    <%= f.submit "Save" %>
    <button type="submit" name="<%= @block.content_block_type%>[new_status]" value="PUBLISHED">Save And Publish</button>        
  </div>
<% end %>