<% content_for(:html_head) do %>
  <%= javascript_include_tag 'jquery.contextMenu' %>
  <%= stylesheet_link_tag 'cms/jquery.contextMenu' %>
  <% javascript_tag do %>
    jQuery(function($){
      $('#blocks tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1]
        var id = match[2]
        $('#blocks tbody tr').removeClass('selected')
        $(this).addClass('selected')
        $('#functions .button').addClass('disabled').attr('href','#')
        $('#list_all').removeClass('disabled').attr('href', '<%= cms_path(:blocks, @content_type.content_block_type) %>');
        $('#add_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/new')
        $('#view_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/show/'+id)
        $('#edit_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/edit/'+id)
        <% if @content_type.model_class.versioned? %>
          $('#revisions_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/revisions/'+id)
        <% else %>
          $('#revisions_button').addClass('disabled')
            .attr('title', '<%= @content_type.display_name.pluralize.titleize %> are not versioned')          
        <% end %>
        var cannot_be_deleted_message = $(this).find('.cannot_be_deleted_message')
        if(cannot_be_deleted_message.length > 0) {
          $('#delete_button').addClass('disabled')
            .attr('title', $.trim(cannot_be_deleted_message.text()))
        } else {
          $('#delete_button').removeClass('disabled')
            .attr('href', '/cms/blocks/'+type+'/destroy/'+id)  
            .attr('title', 'Are You Sure You Want To Delete This Record?')
        }        
        <% able_to? :publish_content do -%>
          if($(this).hasClass('draft')) {
            $('#publish_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/publish/'+id+'?_redirect_to='+location.href)        
          }
        <% end %>  
      })
      /*.contextMenu({ menu: 'myMenu' },
      	function(action, el, pos) {
          var match = el.attr('id').match(/(.*)_(\d+)/) 
          var type = match[1]
          var id = match[2]
      	  location.href = '/cms/blocks/'+type+'/show/'+id;
      	}
      ); */      
    })
  <% end %>
<%= stylesheet_link_tag "cms/content_library" %>
<% end %>
<% @page_title = "Content Library / List #{@content_type.display_name_plural}" %>
<% @toolbar_title = "List #{@content_type.display_name_plural}" %>
<%= render :partial => 'toolbar' %>

<div class="roundedcorners">
<table id="blocks">
  <thead>
    <tr>
      <% @content_type.columns_for_index.each_with_index do |column, i| %>
        <% attrs = if !@content_type.model_class.respond_to?(:updated_at) && 
                      !@content_type.model_class.connectable? && 
                      !@content_type.model_class.publishable? && 
                      @content_type.columns_for_index.size == i + 1
             %Q{ colspan="2" class="last"}
           elsif i == 0
             %Q{ colspan="2" class="name first"}
          end %>
        <th<%= attrs %>>
          <div class="dividers">
            <% if column[:order] %>
              <%= link_to column[:label],
                    cms_path(:blocks, 
                      @content_type.content_block_type, 
                      {:order => determine_order(params[:order], column[:order])}) %>
            <% else %>
              <%= column[:label] %>
            <% end %>
          </div>
        </th>
      <% end %>
      <% if @content_type.model_class.respond_to?(:updated_at) %>
        <th class="updated <%= 'last" colspan="2' unless @content_type.model_class.publishable? || @content_type.model_class.connectable? %>"><div class="dividers">Updated</div></th>
      <% end %>
      <% if @content_type.model_class.connectable? %><th class="used <%= ' last" colspan="2' unless @content_type.model_class.publishable? %>"><div class="dividers">Used</div></th><% end %>
      <% if @content_type.model_class.publishable? %><th colspan="2" class="block_status last">Status</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% col_ct = 2
       col_ct += @content_type.columns_for_index.size
       col_ct += 1 if @content_type.model_class.respond_to?(:updated_at)
       col_ct += 1 if @content_type.model_class.connectable?
       col_ct += 1 if @content_type.model_class.publishable? %>
    <% @blocks.each do |block| %>
      <tr id="<%= block.class.name.underscore %>_<%= block.id %>" class="<%= block.class.publishable? && !block.published? ? 'draft' : 'published' %>">
	<td class="first"></td>
        <% @content_type.columns_for_index.each_with_index do |column, i| %>
          <td class="name">
            <div class="dividers">
            <%= block.send(column[:method]) %>
            <% if i.zero? && block.respond_to?(:cannot_be_deleted_message) && block.cannot_be_deleted_message %>
              <div class="cannot_be_deleted_message" style="display: none">
                <%=h block.cannot_be_deleted_message %>
              </div>
            <% end %>
            </div>
          </td>      
        <% end %>
        <% if @content_type.model_class.respond_to?(:updated_at) %><td class="updated"><div class="dividers"><%= block.updated_at.to_s(:date) %></div></td><% end %>
        <% if @content_type.model_class.connectable? %><td class="used"><div class="dividers"><%= block.connected_pages.count %></div></td><% end %>
        <% if @content_type.model_class.publishable? %><td class="block_status"><%= status_icon(block.status) %> <div><%= block.status %></div></td><% end %>
	<td class="last"></td>
      </tr>
    <% end %>
    <tr>
      <td colspan="<%= col_ct %>" class="buffer"></td>
    </tr>
  </tbody>
</table>
<div class="bl"></div>
<div class="br"></div>
</div>
<ul id="myMenu" class="contextMenu">
	<li class="view"><a href="#show">View</a></li>
	<li class="publish separator"><a href="#publish">Publish</a></li>	  
	<li class="edit"><a href="#edit">Edit</a></li>
	<li class="delete"><a href="#delete">Delete</a></li>
</ul>

<% if params[:search] && @blocks.size == 0 %>
  <div class="pagination">No results found for '<%= params[:search][:term] %>'</div>
<% elsif @blocks.total_pages > 1 %>
  <%= render_pagination @blocks, [:blocks, @content_type.content_block_type, {:order => params[:order]}] %>
<% end %>
