<% @page_title = "Content Library / List #{@content_type.display_name_plural}" %>
<%= link_to "#{action_icon(:add)} Add New #{@content_type.display_name}", cms_path("/blocks/#{@content_type.content_block_type.pluralize}", :new) %>

<% form_tag '', :method => :get do -%>
  Search
  <%= text_field_tag :search, params[:search] %>
  <% if @content_type.name == "HtmlBlock" -%>
    <p><%= check_box_tag :include_body, true, params[:include_body] %> Include body?</p>
  <% end -%>
  <% if %w[FileBlock ImageBlock].include?(@content_type.name) %>
    <p><%= select_tag 'section_id', searchable_sections(params[:section_id]) %></p>
  <% end -%>
  <%= submit_tag "Search" %>
<% end -%>

<h2>List <%=  @content_type.display_name_plural %></h2>
<table id="blocks">
  <tr>
    <% if @blocks.first.respond_to?(:status) %><th>Status</th><% end %>
    <% if @blocks.first.respond_to?(:name) %><th>Name</th><% end %>
    <% @content_type.columns_for_index.each do |column| %>
      <th><%= column[:label] %></th>
    <% end %>
    <th>Updated</th>
    <% if @blocks.first.respond_to?(:connected_pages) %><th>Used</th><% end %>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @blocks.each do |block| %>
    <tr>
      <% if @blocks.first.respond_to?(:status) %><td class="block_status"><%=  status_icon(block.status) %></td><% end %>
      <% if @blocks.first.respond_to?(:name) %><td class="block_name"><%= block.name %></td><% end %>
      <% @content_type.columns_for_index.each do |column| %>
        <td><%= block.send(column[:method]) %></td>      
      <% end %>
      <td><%= block.updated_at.to_s(:date) %></td>
      <% if @blocks.first.respond_to?(:connected_pages) %><td class="used"><%= link_to_usages(block) %></td><% end %>
      <td class="view"><%= link_to action_icon(:view), cms_path(:blocks, @content_type.name.underscore.pluralize, :show, block) %></td>
      <td class="edit"><%= link_to action_icon(:edit), cms_path(:blocks, @content_type.name.underscore.pluralize, :edit, block) %></td>
      <td class="delete"><%= link_to action_icon(:delete), cms_path(:blocks, @content_type.name.underscore.pluralize, :destroy, block), :method => :delete, :confirm => "Are you sure you want to delete '#{block.name}'?" %></td>
    </tr>
  <% end %>
</table>