<% content_for(:html_head) do %>
  <% javascript_tag do %>
    jQuery(function($){
      $('#blocks tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1]
        var id = match[2]
        $('#blocks tbody tr').removeClass('selected')
        $(this).addClass('selected')
        $('#functions .button').addClass('disabled').attr('href','#')
        $('#add_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/new')
        $('#view_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/show/'+id)
        $('#edit_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/edit/'+id)
        <% if @content_type.model_class.versioned? %>
          $('#revisions_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/revisions/'+id)
        <% else %>
          $('#revisions_button').addClass('disabled')
            .attr('title', '<%= @content_type.display_name.pluralize.titleize %> are not versioned')          
        <% end %>
        var cannot_be_deleted_message = $(this).find('.cannot_be_deleted_message')
        if(cannot_be_deleted_message.length > 0) {
          $('#delete_button').addClass('disabled')
            .attr('title', $.trim(cannot_be_deleted_message.text()))
        } else {
          $('#delete_button').removeClass('disabled')
            .attr('href', '/cms/blocks/'+type+'/destroy/'+id)  
            .attr('title', 'Are You Sure You Want To Delete This Record?')
        }        
  <% able_to? :publish_content do -%>
        if($(this).hasClass('draft')) {
          $('#publish_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/publish/'+id+'?_redirect_to='+location.href)        
        }
  <% end %>
      })
    })
  <% end %>
<%= stylesheet_link_tag "cms/content_library" %>
<% end %>
<% @page_title = "Content Library / List #{@content_type.display_name_plural}" %>
<% @toolbar_title = "List #{@content_type.display_name_plural}" %>
<%= render :partial => 'toolbar' %>


<table id="blocks">
  <thead>
    <tr>
      <% @content_type.columns_for_index.each do |column| %>
        <th class="name"><%= column[:label] %></th>
      <% end %>
      <% if @content_type.model_class.respond_to?(:updated_at) %>
        <th class="updated <%= 'last' unless @content_type.model_class.publishable? || @content_type.model_class.connectable? %>">Updated</th>
      <% end %>
      <% if @content_type.model_class.connectable? %><th class="used <%= ' last' unless @content_type.model_class.publishable? %>">Used</th><% end %>
      <% if @content_type.model_class.publishable? %><th class="block_status last">Status</th><% end %>
    </tr>
  </thead>
  <tbody>
    <% @blocks.each do |block| %>
      <tr id="<%= block.class.name.underscore %>_<%= block.id %>" class="<%= block.class.publishable? && !block.published? ? 'draft' : 'published' %>">
        <% @content_type.columns_for_index.each_with_index do |column, i| %>
          <td class="name">
            <%= block.send(column[:method]) %>
            <% if i.zero? && block.respond_to?(:cannot_be_deleted_message) && block.cannot_be_deleted_message %>
              <div class="cannot_be_deleted_message" style="display: none">
                <%=h block.cannot_be_deleted_message %>
              </div>
            <% end %>
          </td>      
        <% end %>
        <% if @content_type.model_class.respond_to?(:updated_at) %><td class="updated"><%= block.updated_at.to_s(:date) %></td><% end %>
        <% if @content_type.model_class.connectable? %><td class="used"><%= block.connected_pages.count %></td><% end %>
        <% if @content_type.model_class.publishable? %><td class="block_status"><%= status_icon(block.status) %> <div><%= block.status %></div> </td><% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<% if params[:search] && @blocks.size == 0 %>
<div class="pagination">No results found for '<%= params[:search][:term] %>'</div>
<% else %>
<%= pagination @blocks, [:blocks, @content_type.content_block_type], @content_type.display_name %>
<% end %>
