<h1>New <%= @block.content_block_label %></h1>
<% form_for(@block, :url => cms_path(@block, :create)) do |f| %>
  <%= f.error_messages %>
  <%= render :partial => 'cms/blocks/hidden_fields', :locals => {:f => f} %>
  <%= render :partial => 'form', :locals => {:f => f} %>
  <div class="fields">
    <%= f.submit "Save" %>
  </div>
<% end %>