<% @page_title = "Content Library / List of Versions" %>
<% @toolbar_title = "List Versions / '#{@block.name}' #{@content_type.display_name}" %>
<% content_for :html_head do %>
<%= stylesheet_link_tag("cms/content_library") %>
  <% javascript_tag do %>
    jQuery(function($){
      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var type = match[1]
        var id = match[2]
        $('table.data tbody tr').removeClass('selected')
        $(this).addClass('selected')
        $('#functions .button').addClass('disabled').attr('href','#')
        $('#list_all').removeClass('disabled').attr('href', '<%= cms_path(:blocks, @content_type.content_block_type) %>');
        $('#add_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/new')
        $('#view_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/show_version/<%= @block.id %>?version='+id)  
        var current = $(this).find('.current')
        if(current.length == 0) {
          $('#revert_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/revert_to/<%= @block.id %>?version='+id)  
        } else {
          $('#view_button').attr('href', '/cms/blocks/'+type+'/show/<%= @block.id %>');
          $('#edit_button').removeClass('disabled').attr('href', '/cms/blocks/'+type+'/edit/<%= @block.id %>');
        }
      })
    })
  <% end %>

<% end %>
<% content_for :functions do %>
<%= render(:partial => 'toolbar', :locals => {:dynamic_buttons => true}) %>
<%= link_to span_tag("Revert"), "#", :id=>"revert_button", :class => "button disabled"  %>
<% end %>
<table class="data">
  <thead>
  <tr>
    <th>Version</th>
      <% if @content_type.model_class.publishable? %><th class="block_status">Status</th><% end %>
      <th>Comment</th>
    <th>Date</th>
    <th class="last">Editor</th>
  </tr>
  </thead>
  <% @block.versions.all(:order => "version desc").each_with_index do |r, i| %>
  <% published_status = (r.published? ? 'published' : 'draft') %>
      <tr id="<%= @block.class.name.underscore %>_<%= r.version %>">
    <td><%= "v. #{r.version}" %><%= ' (LIVE)' if @block.live_version && r.version == @block.live_version.version %><%= '<span class="current"> (CURRENT)</span>' if i == 0 %></td>
        <% if @content_type.model_class.publishable? %><td class="block_status"><%= status_icon(published_status) %> <div><%= published_status %></div> </td><% end %>
    <td><%=  r.version_comment %></td>
    <td><%= r.created_at.strftime("%b %d, %Y %I:%M %p") if r.created_at %></td>
    <td><%= r.updated_by.login if r.updated_by %></td>


  </tr>
  <% end %>

</table>
