<% @page_title = "Content Library / View #{@model.display_name}" %>
<% content_for(:sidebar) do %>
<%= render :partial => "block_info" %>
<% end -%>
<%= link_to 'Edit', cms_path(@block, :edit) %>
<%= link_to "Delete", cms_path(@block, :destroy), :method => :delete, :confirm => "Are you sure you want to delete '#{@block.name}'?" %>
<%= false ? (link_to 'Assign', cms_path(@block, :assign), :method => :post) : "Assign" %>
<%= !@block.published? ? link_to('Publish', cms_path(@block, :publish), :method => :post) : "Publish" %>
<%= !@block.archived? ? link_to('Archive', cms_path(@block, :archive), :method => :post) : "Archive" %>

<h2><%= @block.name %></h2>
<div id="block_content">
  <div class="header">Block Contents</div>
  <div class="content"><%= render_content_block(@block) %></div>
</div>
