<% page_title "Content Library / View #{content_type.display_name}" %>
<% @toolbar_title = "View #{content_type.display_name} '#{ @block.name }'" %>
<%= content_for :html_head do %>
  <%= stylesheet_link_tag('cms/form_layout') %>
  <%= stylesheet_link_tag('cms/block') %>
  <%= stylesheet_link_tag('cms/content_library') %>
  <style type="text/css">
    .content img {
      max-width: 785px;
    }
  </style>
<% end %>
<%= content_for :functions,  render(:partial => 'cms/blocks/toolbar') %>

<div id="block_content">
  <% if @block.respond_to?(:deleted) && @block.deleted %>
  <div class="header">This <%= @block.class.name %> has been deleted.</div>
  <% end %>
  <% if @block.class.publishable? %>
    <% block_published_status = (@block.live? ? 'published' : 'draft') %>
    <div class="status">
      <div class="header">Status:</div> 
      <%= status_icon(block_published_status) %> 
      <div class="block_published_status"><%= block_published_status %></div>
    </div>
  <% end %>
  <% if @block.class.connectable? %>
    <div class="nv_pair">
      <div class="header">Used on:</div> 
      <div><%= link_to_usages(@block) %> <%= "page".pluralize_unless_one(@block.connected_pages.count)%></div>
    </div>
  <% end -%>
  <% if @block.respond_to?(:draft_version?) && !@block.draft_version? %>
    <div class="nv_pair">
      <div class="header">Version:</div> 
      <div>v. <%= @block.version %> ( <%= link_to "Current", block_path(@block) %> )</div>
    </div>
  <% end -%>
  <% if @block.class.renderable? %>
    <div class="header">Block Contents:</div>
    <div class="content"><%= render_connectable(@block) %></div>
  <% end %>
</div>
