<% page_title "Content Library / View Usages" %>
<% @toolbar_title = "Pages Using #{content_type.display_name} '#{ @block.name }'" %>
<%= content_for :html_head do %>
  <%= stylesheet_link_tag("cms/content_library") %>
  <%= javascript_tag do %>
    jQuery(function($) {
      $('#functions .button').addClass('disabled').attr('href','#');
      $('#view_button').removeClass('disabled')
        .attr('href', '<%= cms_connectable_path(@block)%>')
      $('#edit_button').removeClass('disabled')
        .attr('href', '<%= edit_cms_connectable_path(@block)%>')
    })
  <% end %>
<% end %>

<%= render :partial => 'cms/blocks/toolbar' %>
<div class="roundedcorners">
  <table id="blocks" class="data">
  <thead>
    <tr>
      <th colspan="2" class="first"><div class="dividers">Page Name</div></th>
      <th><div class="dividers">Path</div></th>
      <th colspan="2" class="last"><div class="dividers">Page Status</div></th>
    </tr>
  </thead>
  <% @pages.each do |page| %>
    <% status = page.archived? ? :archived : page.status %>    
    <tr>
      <td class="first"></td>
      <td class="page_name"><%=  page.name %></td>
      <td class="path"><%=  link_to page.path, page.path %></td>
      <td class="block_status"><%= status_icon(status) %> <div><%= status %></div></td>
      <td class="last"></td>
    </tr>
  <% end %>
      <tr>
        <td colspan="8" class="buffer"></td>
      </tr>
  </table>
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>
</div>
