<% page_title "Content Library / List of Versions" %>
<% @toolbar_title = "List Versions / '#{@block.name}' #{content_type.display_name}" %>
<%= content_for :html_head do %>
<%= stylesheet_link_tag("cms/content_library") %>
  <%= javascript_tag do %>
    jQuery(function($){
      var collectionName = '<%= content_type.content_block_type %>'
      
      $('table.data tbody tr').hover(function(){
        $(this).addClass('hover')
      }, function(){
        $(this).removeClass('hover')
      }).click(function(){
        var match = this.id.match(/(.*)_(\d+)/) 
        var id = match[2]
        $('table.data tbody tr').removeClass('selected')
        $(this).addClass('selected')
        $('#functions .button').addClass('disabled').attr('href','#')
        $('#functions .off span').css('color', '#FFFFFF')
        $('#add_button').removeClass('disabled').attr('href', '/cms/'+collectionName+'/new')
        $('#view_button').removeClass('disabled').attr('href', '/cms/'+collectionName+'/<%= @block.id %>/version/'+id)
        if($(this).find('.current').length > 0) {
          $('#view_button').attr('href', '/cms/'+collectionName+'/<%= @block.id %>')
          $('#edit_button').removeClass('disabled').attr('href', '/cms/'+collectionName+'/<%= @block.id %>/edit')
        } else {
          $('#revert_button').removeClass('disabled').attr('href', '/cms/'+collectionName+'/<%= @block.id %>/revert_to/'+id)
        }
      })
    })
  <% end %>

<% end %>

<%= content_for :functions do %>
  <%= render :partial => 'cms/blocks/toolbar' %>
  <%= link_to span_tag("Revert"), "#", :id => "revert_button", :class => "http_put button disabled"  %>
<% end %>

<div class="roundedcorners">
  <table id="blocks" class="data">
    <thead>
      <tr>
        <th colspan="2" class="first"><div class="dividers">Version</div></th>
        <th>
          <div class="dividers">Comment</div>
        </th>
        <th>
          <div class="dividers">Date</div>
        </th>
        <th class="last" colspan="2">
          <div class="dividers">Editor</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @block.versions.all(:order => "version desc").each_with_index do |r, i| %>
        <tr id="<%= content_type.content_block_type.singularize %>_<%= r.version %>">
          <td class="first"></td>
          <td>
            <div class="dividers">
              <%= "v. #{r.version}" %>
              <%= '(LIVE)' if @block.version == r.version %>
              <%= '<span class="current">(CURRENT)</span>'.html_safe if i == 0 %>
            </div>
          </td>
          <td>
            <div class="dividers"><%=  r.version_comment %></div>
          </td>
          <td>
            <div class="dividers">
              <%= r.created_at.strftime("%b %d, %Y %I:%M %p") if r.created_at %>
            </div>
          </td>
          <td>
            <div><%= r.updated_by.login if r.updated_by %></div>
          </td>
          <td class="last"></td>
        </tr>
      <% end %>
      <tr>
        <td colspan="8" class="buffer"></td>
      </tr>
    </tbody>
  </table>
  <div class="tl"></div>
  <div class="tr"></div>
  <div class="bl"></div>
  <div class="br"></div>
</div>

